[2019-04-02 20:48] tcgoetz opened #2 "Sync Mode"
A mode where you can sync a directory on the phone with a directory on the computer, copying only files not present and updating files that have changed.

[2019-04-09 20:22] LeeBinder commented on #2
I 2nd this suggestion 👍

[2019-04-09 20:33] ganeshrvel commented on #2
Thanks for the suggestion. Right now I am trying to rebuild the native MTP module of this app as it is not compatible with certain devices! Once that is completed I shall definitely look into creating a new sync feature.

If any of you is interested in contributing towards the development of the new MTP kernel of this app, which is basically written is C++, it'd be great help as I am unable to squ

[2019-04-09 23:13] LeeBinder commented on #2
Hello ganeshrvel. Unfortunately my coding skills end with Java Script and a bit of php.

Rebuilding the native MTP module is of much higher importance because openMTP 2.0 is not working with my Samsung Galaxy A8 ROM, either (but Android File Transfer and Commander One MTP are). Even uninstalling ATF and reboot did not help.

[2019-04-10 19:10] gjw commented on #2
Rather (or I guess in addition to) than adding syncing to the app itself, could you expose a mount point for the android device, so that we just open openMTP and then use rsync or whatever existing synching app we want to take care of the rest?

[2019-04-10 19:15] LeeBinder commented on #2
@gjw : https://www.reddit.com/r/apple/comments/48yb2b/guide_mounting_android_device_under_os_x_using/ (or if you like YouTube: https://www.youtube.com/watch?v=_jzMiyz4Zt4 )

(please don't expect an Orange when you pick a Banana .. ;) )

[2019-04-10 19:21] LeeBinder commented on #2
@ganeshrvel : while we're in here, two suggestions:
1. please make the key combo for Quit the regular Mac cmd + q. Now it's cmd + shift - q, which is not usual (and is reserved for account log-out on some if not most Macs)
2. please replace the 'Root' on the bottom left of both panes with the Mac default / for hard disk base level. 'root' is reserved for super user / system admin

:)

[2019-04-13 20:50] incace opened #3 "Supported Devices"
Is there a supported devices list somewhere? I couldn't seem to find it but noticed in the other issue thread that "some devices aren't supported". Anyway, nice looking app and looking forward to future developments. Starred!

[2019-04-16 08:10] ganeshrvel commented on #3
Hey! thanks for the feedback. I will bring out a device support list soon.
Samsung phones aren't supported yet.

[2019-05-03 19:47] phuongfi91 commented on #3
Would be great to have support for Samsung phones.
For now the app can't show anything on the phone side pane 😢

[2019-06-06 12:07] bartatgithub commented on #2
@ganeshrvel @leebinder
Here a HTC 10 user 'Android File Transfer' (that i don't want to use) connects, but openMTP doesn't connect. Same computer, system and cable.
And yes, cmd + shift + q on Mac brings a message to logout the system.
Anyway thanks for the app, it looks beautiful and i wanna try! ;-))

[2019-06-07 05:58] ganeshrvel commented on #2
I have been trying to build a new MTP kernel which can detect a wider range of devices. I have created a separate repo for the same here: https://github.com/ganeshrvel/mtp-nodejs-port-native-addon/tree/to-async

Due to my limited understanding in C++ I am unable to solve the final parts of solving this issue.
If anyone can help me solve this issue which is mentioned here: https://stackoverflow.com

[2019-06-09 06:32] ganeshrvel opened #4 "Packages upgrade"
- [x] NPM packages upgrade
- [x] MTP binary upgrade

[2019-06-09 07:01] ganeshrvel commented on #2
@bartatgithub @LeeBinder I was going through the keymaps and I don't see "cmd + shift + q" being referenced anywhere? Could you tell me where have been asked to use "cmd + shift + q " keyboard shortcut?

[2019-06-09 07:43] ganeshrvel opened #5 "Update the contribute section"
- [x] Add a CONTRIBUTE.md guildelines template
- [x] Add a contribute.md ISSUE_TEMPLATE

[2019-06-09 07:47] ganeshrvel opened #6 "update husky config"
Add a new .huskyrc file for precommit

[2019-06-09 08:21] #4 closed

[2019-06-09 08:21] #6 closed

[2019-06-09 08:25] ganeshrvel opened #7 ""Device not recognized" help text"
- [x] Show a "Help" CTA in the MTP tab
- [x] A dialog box instructing them why it is failing.
- [x] Invite them to contribute or email the dev.

[2019-06-09 08:35] ganeshrvel commented on #3
I have been trying to build a new MTP kernel which can detect a wider range of devices. I have created a separate repo for the same here: https://github.com/ganeshrvel/mtp-nodejs-port-native-addon/tree/to-async

Due to my limited understanding in C++ I am unable to solve the final parts of solving this issue.
If anyone can help me solve this issue which is mentioned here: https://stackoverflow.com

[2019-06-09 10:17] ganeshrvel opened #8 "Help - My phone is not recognized!"
I have received feedback from various users that OpenMTP is not to able recognize certain devices even after following all the instructions. I have been working hard to migrate the existing MTP Kernel to a better one but the development has slowed down due to various reasons.

I am looking for Node.js and C++ developers who can contribute to the development of the OpenMTP and can help me in migrat

[2019-06-09 10:23] ganeshrvel commented on #8
I have been trying to build a new MTP kernel which can detect a wider range of devices. I have created a separate repo for the same here: https://github.com/ganeshrvel/mtp-nodejs-port-native-addon/tree/to-async

Due to my limited knowledge in C++, I am unable to implement the two most important features.

If anyone can help me solve the issue, which is mentioned in the next comment, I might be abl

[2019-06-09 10:46] ganeshrvel commented on #3
Further discussions and progress of this issue can be tracked in this thread: https://github.com/ganeshrvel/openmtp/issues/8

[2019-06-09 10:48] ganeshrvel commented on #2
I have created a new GitHub [thread](https://github.com/ganeshrvel/openmtp/issues/8) for further discussions and updates.

[2019-06-09 10:55] #7 closed

[2019-06-09 10:58] ganeshrvel opened #10 "Fix prerelease notes display bug"
Prerelease notes column in the "App updates" is not printing h1 and h2 properly.

Solution:
- [x] Add 'h1' and 'h2' to the "allowedTags" array in the app/containers/AppUpdatePage/UpdateAvailable/index.jsx:24 file

[2019-06-09 11:03] #10 closed

[2019-06-09 11:06] ganeshrvel opened #12 "Increase the semversion in the package.json"
Increase the semversion in the package.json to 2.1.0

[2019-06-09 11:36] #5 closed

[2019-06-09 11:41] #12 closed

[2019-06-09 11:45] ganeshrvel opened #15 "Upgrade electron to v5.x.x"
Upgrade electron to the latest stable version.

[2019-06-09 12:19] #15 closed

[2019-06-09 19:48] LeeBinder commented on #2
" keyboard shortcut?

![cmd + shift + q](https://user-images.githubusercontent.com/39203497/59163351-54c57b80-8b00-11e9-91fa-68bb404263a0.jpg)

[2019-06-10 03:43] ganeshrvel commented on #2
@LeeBinder thank you for the screenshot!
I have made a new release could you check and tell me whether your devices are getting recognised or not?

[2019-06-10 06:59] LeeBinder commented on #2
@ganeshrvel as I wrote my screenshot already is from your [newest 2.1 release](https://github.com/ganeshrvel/openmtp/releases/tag/v2.1.0) and no, my Samsung is still not recognized.

[2019-06-10 09:59] bartatgithub commented on #2
Thanks!

openMTP 2.1.0 works with a HTC 10 (Android 7.1), hopefully on other phones too.
Be sure you use a charge + data USB cable.

Keymaps are still "cmd + shift + q", same as Logout, and work only that way, see screenshot:
<img width="214" alt="Screen Shot 2019-06-10 at 11 41 44" src="https://user-images.githubusercontent.com/6533745/59187444-c25fbf00-8b75-11e9-8121-e718da0a0fb0.png">

One thin

[2019-06-10 10:05] ganeshrvel commented on #2
@bartatgithub that's wonderful! Happy to know that the app works on HTC smartphones now.

Regarding the "double click" on a folder. You can just double click on any item to open not 4 times.

I will fix the quit menu issue in the next release.

[2019-06-10 10:14] bartatgithub commented on #2
Ok, tested it and it was my impression because when you _double click_ a folder name the checkbox go's also in on/off state. Gives a weird interaction impression, that's all, so not a big problem.
Could you separate the interaction, click, on the checkbox and the interaction, click, on the folder, when you have extra time? Thanks!

[2019-06-20 04:42] ganeshrvel opened #22 "Automatic background app update"

[2019-06-20 04:42] ganeshrvel opened #23 "Give a opt-out of background auto app download option in Settings"

[2019-06-20 04:43] ganeshrvel opened #24 "Increment last settings updated constant."

[2019-06-20 04:44] ganeshrvel opened #25 "Change "Quit" Shortcut key - cmd+alt+q"

[2019-06-20 04:44] ganeshrvel opened #26 "A new github support/get in touch icon in the toolbar."

[2019-06-20 04:45] ganeshrvel opened #27 "Bump material ui version"
- [x] Bump react to 16.8
- [x] Bump react-dom, react-router, react-router-dom to the lastest one.
- [x] Bump MUI to 4.2
- [x] Fix HMR and code-split to work with react 16.8
- [x] Fix Grid, table and tab styles to work with mui 4.2

[2019-06-20 04:46] ganeshrvel opened #28 "Replace the existing breadcrumbs with MUI breadcrumbs"

[2019-07-11 10:06] ganeshrvel opened #29 "Fix the lag while selecting a folder/file"

[2019-07-11 12:53] #25 closed

[2019-07-11 12:58] ganeshrvel opened #32 "New beta release"

[2019-07-11 12:59] #32 closed

[2019-07-11 13:18] ganeshrvel commented on #2
@bartatgithub I have fixed the Quit Keyboard shortcuts in the **beta** release: https://github.com/ganeshrvel/openmtp/releases/download/v2.2.0-beta.1/OpenMTP-2.2.0-beta.1.dmg along with some amazing performance improvement.

[2019-07-11 17:50] #29 closed

[2019-07-11 17:53] ganeshrvel opened #35 "Check mime type of settings.json file"

[2019-07-11 18:07] ganeshrvel opened #36 "Fix the Device not recognized modal text"

[2019-07-11 18:11] ganeshrvel opened #37 "Show the latest features in the Onboarding popup"

[2019-07-11 18:59] ganeshrvel opened #38 "Bump up electron version"
Upgraded electron and electron related npms

[2019-07-11 19:32] #22 closed

[2019-07-11 19:42] #38 closed

[2019-07-11 20:27] #23 closed

[2019-07-13 18:30] ganeshrvel opened #42 "Confirm action buttons are not consistent."
Confirm CTAs should be of the order: [ Cancel ] [Ok|Positive Actions]

[2019-07-13 18:50] #27 closed

[2019-07-13 19:05] #42 closed

[2019-07-13 19:35] ganeshrvel commented on #35
Closing it for now since json validation is already taken care of in the app

[2019-07-13 19:36] #35 closed

[2019-07-13 19:49] ganeshrvel commented on #28
Closing this issue since the MUI Breadcrumbs components APIs lack spring loading feature

[2019-07-13 19:50] #28 closed

[2019-07-14 07:20] sohojmanush opened #45 "App opens in fullscreen"
App opens in fullscreen on mac os mojave.

[2019-07-14 07:22] sohojmanush opened #46 "Dark mode, that respects os settings."

[2019-07-14 07:23] sohojmanush opened #47 "Single pane mode & Toggle to switch phone storage on the right pane, computer on the left."

[2019-07-14 15:11] #37 closed

[2019-07-14 15:27] #24 closed

[2019-07-14 15:58] #26 closed

[2019-07-14 17:34] #36 closed

[2019-07-14 17:46] ganeshrvel opened #52 "Pick issues url from package.json"

[2019-07-14 17:48] #52 closed

[2019-07-14 18:52] ganeshrvel opened #56 "Optimise navigation to another folder while a directory with long list of files are getting rendered."
Optimise navigation to another folder while a directory with long list of files are getting rendered.

Cancel the settimeout on directory change

[2019-07-15 03:22] ganeshrvel opened #57 "Travis Integration"

[2019-07-15 03:49] ganeshrvel opened #58 "Disabled buttons aren't greyed out"
Disabled buttons aren't greyed out

[2019-07-15 17:07] #58 closed

[2019-07-15 17:22] #56 closed

[2019-07-15 17:23] ganeshrvel opened #60 "Click on any directory and create a new folder. The selected directory will replicate"

[2019-07-15 17:42] #60 closed

[2019-07-15 18:11] ganeshrvel opened #65 "Typescript support"

[2019-07-15 18:12] ganeshrvel opened #66 "Improve the file explorer performance."
Improve the file explorer performance by waiting for the user to scroll down to completely render the whole directory listing.

[2019-07-15 18:12] ganeshrvel opened #67 "Support for basic themes. Dark/Light mode"

[2019-07-18 09:34] bartatgithub commented on #2
Quit Keyboard shortcuts works, thanks!

[2019-07-18 11:17] LeeBinder commented on #2
https://github.com/ganeshrvel/openmtp/releases/download/v2.2.2/OpenMTP-2.2.2.dmg

Better - but why the deviation from standard ⌘Q for quit - why ⌥⌘Q? What's your reasoning for not simply use ⌘Q as any other Mac app?

Also, it still says 'Root > Users > ..' vs. (correct) '/ > Users > ..'. root' is referred to as something else - the root user.

[2019-07-18 11:21] ganeshrvel commented on #2
Thanks for confirming,
⌥⌘Q is used instead of the standard  ⌘Q because ⌘1 keymap is used to toggle the tabs. There are chances that users might accidentally press ⌘Q while trying to press ⌘1

[2019-07-18 11:29] LeeBinder commented on #2
⌥⌘Q: really? How many users don't take off their gloves before hitting the keyboard .. ;)?

Request: can you please make this shortcut configurable as in shortcut prefs?

Root vs. /: simply add space characters around the / and have the clickable path be " / ". Three characters is enough for people even with paws, parkinsons, or panic syndrome .. ;)

[2019-07-18 11:42] bartatgithub commented on #2
Strange in the beta release it's really ⌘Q and works also in that way?
@LeeBinder: Download and install that on, you will see.

[2019-07-18 11:45] LeeBinder commented on #2
@bartatgithub : neither in beta 1 nor in beta 2 it's ⌘Q ...

[2019-07-18 11:52] bartatgithub commented on #2
I see it right now on my screen and it works.
MacOS High Sierra
OpenMTP 2.2.0-beta.1

[2019-07-18 12:22] LeeBinder commented on #2
@bartatgithub : not here. Ganesh must have released TWO different 2.2.0-beta.1 then:
![Screen Shot 2019-07-18 at 14 16 22](https://user-images.githubusercontent.com/39203497/61456838-5b4cdb80-a967-11e9-99f9-cef5de5d4df9.jpg)
![Screen Shot 2019-07-18 at 14 17 06](https://user-images.githubusercontent.com/39203497/61456839-5be57200-a967-11e9-918e-62a131dd00bc.jpg)
same in 2.2.0-beta.1 and 2.2.0 fina

[2019-07-18 13:11] bartatgithub commented on #2
That's weird?
Do you have downloaded this one: https://github.com/ganeshrvel/openmtp/releases/download/v2.2.0-beta.1/OpenMTP-2.2.0-beta.1.dmg

[2019-07-18 13:12] ganeshrvel commented on #2
@bartatgithub please try: https://github.com/ganeshrvel/openmtp/releases/download/v2.2.2/OpenMTP-2.2.2.dmg

[2019-07-18 13:13] bartatgithub commented on #2
I will download OpenMTP-2.2.0-beta.2.dmg and see what happens.
Do you have deleted the previous version or replaced it?

[2019-07-18 13:14] bartatgithub commented on #2
@ganeshrvel: Ok, i will first try that one.

[2019-07-18 13:14] ganeshrvel commented on #2
@bartatgithub

not sure why this is happening. Please try 2.2.2

[2019-07-18 13:32] bartatgithub commented on #2
Yes, ⌘Q and works also on the keyboard!
OpenMTP 2.2.2

[2019-07-18 13:35] bartatgithub commented on #2
@LeeBinder: Try to first delete the previous version and install OpenMTP 2.2.2, maybe that will work?

[2019-07-18 18:45] LeeBinder commented on #2
removed all OpenMTP related files with App Uninstaller then double-checked with iTrash that indeed all settings/ prefs/ caches etc. are gone. Result is the same with 2.2.2 and below.

Some Voodoo with OpenMTP which only surfaces on your system as it seems.

I'm running High Sierra 10.13.6.

[2019-07-19 17:35] bartatgithub commented on #2
I have done some more tests and this are the weird results:
iMac — MacOS High Sierra 10.13.6
OpenMTP 2.2.0-beta.1 and OpenMTP 2.2.2
---> ⌘Q and works also on the keyboard!

MacBook Pro — MacOS El Capitan 10.11.4
OpenMTP 2.2.0-beta.1 and OpenMTP 2.2.2
---> ⌥⌘Q and works only with ⌥⌘Q on the keyboard?!

Will test later on a MacBook Pro — MacOS High Sierra 10.13.6.

[2019-08-16 11:28] sifutao opened #68 "File explorer: add picture preview (thumbnail)"
Adding a thumbnail for the pictures and videos would be really really useful.

[2019-09-24 05:30] ganeshrvel opened #69 "add support for macos catalina"

[2019-10-12 14:14] #69 closed

[2019-10-12 14:15] ganeshrvel opened #71 "Upgrade to electron 16"
Upgrade to electron 16

[2019-10-12 15:00] #71 closed

[2019-10-12 15:16] ganeshrvel opened #73 "Add electron notorize"

[2019-10-25 18:25] #73 closed

[2019-10-25 18:35] ganeshrvel opened #78 "Readme update"

[2019-10-25 18:37] #78 closed

[2019-10-29 10:33] ganeshrvel commented on #45
@sohojmanush need more info

[2019-11-02 15:12] ikurek opened #82 "Make OpenMTP installable by Homebrew"
Many people use Homebrew and Casks to install and update software on MacOS devices. Will OpenMTP be available in homebrew?

[2019-11-07 02:32] sohojmanush commented on #45
![Screen-Recording-2019-11-07-at-06 31 55](https://user-images.githubusercontent.com/5019527/68355267-ef21fd80-0138-11ea-809a-4834e1d4774b.gif)

[2019-11-15 11:00] ganeshrvel opened #83 "Add SM share buttons"
Add SM share buttons

[2019-11-15 13:30] #83 closed

[2019-11-15 14:14] ganeshrvel opened #86 "update the mtp-cli binary"
update the mtp-cli binary

[2019-11-15 14:23] #86 closed

[2019-11-15 15:32] ganeshrvel opened #89 "fix mtp-cli file git commit error"
fix mtp-cli file git commit error

[2019-11-15 15:33] ganeshrvel opened #90 "Fix typo in twitter share under share buttons section"
Fix typo in twitter share under share buttons section

[2019-11-15 16:20] #89 closed

[2019-11-15 16:23] #90 closed

[2019-11-17 06:21] ganeshrvel opened #94 "Display Total # of Files/Folders in the displayed folder."
Display Total # of Files/Folders in the displayed folder.

[2019-11-17 06:22] ganeshrvel opened #95 "Display the # of Files selected in the displayed folder."
Display the # of Files selected in the displayed folder.

[2019-11-17 06:22] ganeshrvel opened #96 "Delete message should state that it is a permanent delete especially when deleting the file from the list displaying the files on the Mac."
Delete message should state that it is a permanent delete especially when deleting the file from the list displaying the files on the Mac.

[2019-11-17 06:25] ganeshrvel opened #97 "Implement the copy queue"
- [x] Implement the copy queue
- [x] Display the total items in the queue in the status bar

[2019-11-17 06:33] #96 closed

[2019-11-17 06:37] ganeshrvel opened #99 "Status bar in the fileexplorer"
- [x] Show a status bar in the fileexplorer
- [x] A toggle button for enabling/disabling the status bar

[2019-11-17 10:12] ganeshrvel opened #100 "What's new page"
- [x] Increment the 'latestUpdatePushVersion' to 2.4.0
- [x] Add contents to what' new section
- [x] Readme updated

[2019-11-17 10:15] #99 closed

[2019-11-17 10:16] ganeshrvel commented on #94
added in https://github.com/ganeshrvel/openmtp/issues/99

[2019-11-17 10:16] #94 closed

[2019-11-17 10:16] ganeshrvel commented on #95
added in https://github.com/ganeshrvel/openmtp/issues/99

[2019-11-17 10:16] #95 closed

[2019-11-17 11:09] #97 closed

[2019-11-17 11:31] #100 closed

[2019-11-17 11:35] ganeshrvel opened #106 "Improve how Settings screen update is handled"
Improve how Settings.json file updating and Settings screen is handled.

Right now, whenever a new settings item has to be implemented a new action, reducer, selection trio have to be be made.

This is an unnecessary development overhead.

use the reducer key and a single action for updating the settings screen

[2019-12-03 16:12] ganeshrvel opened #108 "Sorting is not working"
Sorting is not working

[2019-12-03 16:54] #108 closed

[2019-12-04 05:39] ganeshrvel opened #111 "Drag and drop files from finder window to app"
Drag and drop out of or from the OS

[2019-12-04 09:50] ganeshrvel opened #112 "upgrade the scrollbar performance"

[2019-12-06 06:10] ganeshrvel opened #113 "upgrade electron version"
upgrade electron version

- [x] app.asar won't work anymore. - fix the isPackaged file

[2019-12-07 13:41] ganeshrvel opened #114 "eslint/parser upgrade"
eslint/parser upgrade

[2019-12-07 14:45] #114 closed

[2019-12-07 20:18] #113 closed

[2020-01-02 19:14] ksaerdna commented on #8
An entry for the blacklist: My Samsung S5e is not detected, while all my other (non-Samsung!) Android devices are. Google's "Android File Transfer" does detect the S5e, but data transfer is nearly impossible due to frequent failures.

[2020-01-23 15:02] ganeshrvel opened #118 "Add support for Samsung devices"
Add support for Samsung devices.

- [x] New MTP kernel
- [x] Option to toggle between available MTP kernels.

[2020-01-23 15:27] nickhamze opened #119 "Zune Support"
@ganeshrvel Would you consider adding Zune support? I want it so bad I'd be happy to pay you to add it. Your software is so sweet. It's so great to use.

I know it's possible via Linux and I'd love to have it for MacOS via your app:
https://www.reddit.com/r/linux/comments/2rdew6/how_to_get_the_mtp_library_to_mount_a_zune_media/

You have find all the technical details here:
https://github.com/kbho

[2020-01-26 12:53] haha-0000 opened #120 "Add support for brew cask install"

[2020-01-27 06:05] fanvinga commented on #120
https://github.com/ganeshrvel/openmtp/pull/121
It works with `brew cask install openmtp` now :-D

[2020-01-27 20:28] LePhi0711 commented on #45
Yep, I can confirm this behaviour. OpenMTP-2.4.1 installed on MacOS 10.14.6.
OpenMTP starts using the complete screen which seems a little bit much on a 27" iMac ;-)
The screenshot sohojmanush posted shows exactly what is happening on my machine.

But in fact: as long OpenMTP isn't able to establish a connection to my Garmin Fenix 6 (which is running Android and working fine with AndroidFileTransf

[2020-01-29 16:08] hiulit commented on #25
Why not use the standard `cmd + Q` to exit the app?

[2020-01-29 17:52] igorwojda opened #122 "Allow to Drag folder without selecting it first"
Now
1. Clink on folder
2. drag folder (to phone)

Nice to have
1. Just click and drag (drag without selecting folder)

[2020-01-29 17:52] igorwojda commented on #111
This is my personal top 1 missing feature

[2020-01-30 02:37] meihol opened #123 "Little change can make vast impact on this existing application."
1. Enhance basic functionality to Skip with the file name, Skip All button on Confirm Action option.

* This feature can help to continue from where you have stopped file transfer work.

<img width="493" alt="File Copy Permission" src="https://user-images.githubusercontent.com/60456078/73415004-97a9bd00-4336-11ea-97dc-40895afcc732.png">

2. Please add "Cancel (X)" Button to stop the process. Allow

[2020-01-30 04:07] #120 closed

[2020-01-30 09:46] ganeshrvel commented on #123
Thank you for the feedback and being such an awesome user.

1) Could be done, I shall raise a ticket for the same.
2) Due to the MTP connectivity complications it isn't possible to cancel a transfer, yes weird!
3) It will break the path info-bar in the bottom as there won't be enough space to accommodate them

[2020-01-30 09:49] ganeshrvel commented on #122
Hi,
Due to some design complications it might now be that easy to drag something out of the pane to another. The app should maintain a state to to facilitate drag and drop of files

[2020-01-30 09:53] ganeshrvel commented on #119
Hi,
This could be done but unfortunately due to my inexpertness in C++/C I am unable to implement a lot of things. I have detailed it out in the thread https://github.com/ganeshrvel/openmtp/issues/8#issuecomment-500201500

[2020-01-30 16:22] igorwojda opened #124 "Add list view to File exploler"
Currently it's quite hard to figure out which file we want to copy because:
- file names are cut off
![image](https://user-images.githubusercontent.com/530122/73468275-71a70b80-437c-11ea-8ce8-dc5d7c506d39.png)
- icons are different then system file icons
- no drag in from system window

Ideal solution would be to fix all of the above, minimals solution would be to implement detailed list view
![im

[2020-01-30 16:26] igorwojda opened #125 "Improve transfer rates speed"
In desc you are saying that app can handle `Highest data transfer rates`, but OnePlus 7T (USB 3.1 phone) connected to MacBook via USB-C can transfer files with only 6MB/s speed
I wonder is there area for improvement 🤔

[2020-01-30 16:40] ganeshrvel commented on #124
@igorwojda the grid list available. Go to settings.

[2020-01-30 16:42] ganeshrvel commented on #124
- icons are different then system file icons - can be done.
- no drag in from system window - tried, but some technical challenges stopping me from doing the same

[2020-01-30 18:29] igorwojda commented on #124
OK - the reason why I was not able to find the list view is that it is hidden too deep. We should follow Finder convention when it's available under the right-click context menu
![image](https://user-images.githubusercontent.com/530122/73478576-3c0b1e00-438e-11ea-9ad4-dd218f182ba4.png)

Frag and drop would be really nice to have as it's easy out integration with other apps, but you probably know t

[2020-01-30 18:29] #124 closed

[2020-01-31 19:10] GildedHonour commented on #119
@nickhamze  is help needed on this?

[2020-02-01 16:45] nickhamze commented on #119
@GildedHonour yes, please :) .

[2020-02-03 05:14] GildedHonour commented on #119
@nickhamze  I don't have Zune. Is there a way to test the code without having one, during development?

[2020-02-03 10:22] meihol commented on #123
What is the solution to copy missing pictures from my collection folder from dicm folder? Means, if we have already copied one 1 file say new.jpeg and if again copy it will create new(1).jpeg.

So, this is creating confusions, so I have demanded one small change and big impact.

[2020-02-03 10:29] meihol opened #126 "Copy from Phone and Paste on the connected USB Hdd on macbook"
Hello,

I am using macbookpro with 128 Gb only. I am using 1 TB External USB HDD and on other cable my oneplus7pro. without OpenMTP we cannot able to copy folders from phone to internal storage of macbookpro. Then I have to copy all files from macbookpro to external storage drive.

I would like to ask how can I change left panel drive to directly drag and drop between mobile to external hdd.

Plea

[2020-02-14 00:17] mwhdc opened #127 "Privacy setting is not honored"
Per Little Snitch, version 2.4.1 still attempts to connect to google-analytics.com when the "Enable anonymous usage statistics gathering" switch has been set to Disabled. Environment is Mojave 10.14.6, running the Github .dmg build.

[2020-02-14 05:22] ganeshrvel commented on #127
After disabling the  "Enable anonymous usage statistics gathering" switch could you restart the app and check the same?

[2020-02-14 15:34] mwhdc commented on #127
The behavior is consistent through multiple quits and restarts of the app. The ping to www.google-analytics.com:443 happens when the app is launched, before the update check.

[2020-02-15 15:22] ganeshrvel commented on #127
I inspected the code and the analytics values were not sent to the Google analytics service but I suspect that upon starting the app the library used to ping Google server for some sort of initialization. I have fixed this issue in https://github.com/ganeshrvel/openmtp/pull/128

The latest OpenMTP version (2.4.2) should fix this problem.

[2020-02-15 15:40] ganeshrvel commented on #127
@mwhdc Updates: Due to some technical challenges with my Apple account I wont be able to release the updated version. The code for the fix is pushed to master and you may build and run the app locally until this technicality is resolved. The README of the app contains all the necessary to build the app from the source.

Regards.

[2020-02-15 17:20] mwhdc commented on #127
@ganeshrvel Thank you for the quick fix, and for creating and maintaining the app! It felt great to delete Android File Transfer.

[2020-02-16 10:38] hpohlmeyer commented on #82
It is available as a cask and can be installed via `brew cask install openmtp`.

[2020-02-17 10:27] Sunil-P commented on #125
I think reason for that is OnePlus7T does support USB 3.1 Gen 1(which is equivalent to older USB 3.0) but the cable included with it is a regular USB 2.0 type c cable.

Can you try to repeat same test on a proper USB 3.1 or thunderbolt cable ?

[2020-02-17 10:33] Sunil-P commented on #125
I repeated same test on a MacBook Pro with the type c to type c MacBook charging cable. It maxed out a 6 mb/s..
Ill test again on a proper thunderbolt cable when I get home.

[2020-02-17 12:01] igorwojda commented on #125
You where right - the cable was an issue 😅

Old cable
![image](https://user-images.githubusercontent.com/530122/74652033-113a0b80-517d-11ea-8ff1-932711f0d863.png)

New cable
![image](https://user-images.githubusercontent.com/530122/74652039-172fec80-517d-11ea-8c3e-f7c1e1af66e3.png)

![image](https://user-images.githubusercontent.com/530122/74652071-26169f00-517d-11ea-8041-45780bc8640b.png)

[2020-02-17 12:01] #125 closed

[2020-03-08 05:07] AvinashDevina opened #129 "Data Transfer Speed Issue"
Hello, My mobile supports USB - C and I am using USB 3.1 Cable, But the max speed is 4MB/sec , How can i enable High Speed Data Transfer.
Mobile - Realme X2
Laptop - Macbook Pro - 2012.

Thanks

[2020-03-08 07:00] AvinashDevina commented on #125
I am having the same problem, can you suggest me which cable you are using ?

[2020-03-08 09:11] igorwojda commented on #125
I just got an old cable, but all you need is cable that is (truly) certified for `USB 3.0` (5GBs), `USB 3.1` (10BGs) or newer speeds.

[2020-03-08 09:17] AvinashDevina commented on #125
Thanks,
My phone doesn't have USB 3.0 Support.

[2020-03-08 16:52] akbarsha03 opened #130 "The Given Quit shortcut (Option+CMD+Q) is interfering with the Mac's logout."

[2020-03-08 16:54] #130 closed

[2020-03-08 16:55] akbarsha03 commented on #130
Sorry. It's Shift+CMD+Q for logout on Mac. Anyway, Can we keep the same CMD+Q for quitting?

[2020-04-02 12:24] ganeshrvel commented on #126
@meihol this feature already exists. Click on the hamburger menu ( 3 line menu) on the phone pane and choose "Removable disk."

Closing this issue

[2020-04-02 12:24] #126 closed

[2020-04-02 12:24] #82 closed

[2020-04-02 12:26] ganeshrvel opened #131 "Add the updated mtp-cli"

[2020-04-02 14:16] ganeshrvel opened #132 "No mtp error fix"

[2020-04-02 14:35] ganeshrvel commented on #119
@nickhamze

Hi, here is the link to download the latest build of OpenMTP. Could you check and let me know whether Zune devices are detected or not.

https://drive.google.com/file/d/1RMmADD5As7_oeLqqzKfR_uHKSweOjlo4/view?usp=sharing

[2020-04-02 14:40] #132 closed

[2020-04-02 14:40] #131 closed

[2020-04-02 14:42] #127 closed

[2020-04-04 16:32] desisn commented on #129
Your device has USB-C, but the port runs at USB 2 speed:
"USB: 2.0, Type-C 1.0 reversible connector, USB On-The-Go"
Source: https://www.gsmarena.com/realme_x2-9879.php

It is a common misconception that people think that every USB-C port equals to USB 3 speed.

[2020-04-04 16:41] desisn commented on #118
In the meantime it would be nice to add this information somewhere in the app and the website. I have a Samsung device and uninstalled Android File Transfer as it was mentioned in the app it could cause errors, until I saw Samsung devices are not supported yet. I would love to see Samsung devices working in the future. Great work. A good MTP file explorer for Mac is long overdue. Apple or Google s

[2020-04-06 07:37] itsbartsimpson commented on #57
See https://github.com/ganeshrvel/openmtp/pull/133

[2020-04-11 21:55] hacker1024 opened #137 "Total copy progress for multiple files/folders?"
When I copy multiple folder from my phone to my computer, I only see a progress bar that shows the progress for each individual file as it's being copied. I have no idea how far the entire copy process has got, or how long it will take.

The Android File Transfer app just shows the total progress.

Would it be possible to implement something like this, with two progress bars?

![image](https://use

[2020-04-11 22:00] hacker1024 commented on #2
In the meantime, for syncing, there's an ADB solution, by Google.
https://github.com/google/adb-sync

[2020-04-11 22:55] hacker1024 opened #138 "Slow transfer speeds (max 6 mb/s) compared to Android File Transfer (~ 30 mb/s)"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [ ] Using yarn
- [ ] Using node 10.x
- [ ] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [ ] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [ ] For i

[2020-04-11 23:20] LeeBinder commented on #2
@hacker1024 interesting, thanks for the link. Command line only, from what I see. Do you know if there is a GUI frontend?

[2020-04-21 13:40] ganeshrvel opened #140 "add adb support"

[2020-05-01 16:45] thibault-ml opened #141 "macOS quit shortcut is unexpected"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [x] Using yarn
- [x] Using node 10.x
- [x] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [x] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [x] For i

[2020-05-13 22:44] h0tk3y commented on #118
+1. Samsung is one of the popular Android devices manufacturers, so it would be really nice to have Samsung support with OpenMTP.

[2020-05-14 08:39] Jeff11 commented on #118
Oh, it's not working at all on Samsung? And I was wondering quite some time why it's not showing anything to me. Will need to switch phones then.

[2020-05-18 15:49] tie opened #143 "Application profile directory is unexpected"
**Current Behavior**

On macOS, OpenMTP creates profile directory in `$HOME/.io.ganeshrvel/${APP_IDENTIFIER}`.

**Expected behavior**

macOS applications by [convention](https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/MacOSXDirectories/MacOSXDirectories.html) store their data in `$HOME/Library/Application Support/${APP_IDENTIFIER}`.

*

[2020-05-19 11:40] Jacques44 opened #144 "Thumbnails view for pictures"
Hello,
I will be happy to contribute. I think your job is amazing
I'd like thumbnail view for pictures

Regards

[2020-05-23 13:55] fleimgruber commented on #118
It would really save some unnecessary trial and error if there was such a notice in-app.

[2020-05-26 10:31] noyannus commented on #118
+1k for a heads-up re missing Samsung support.
+1 for adding Samsung support (also older models).

[2020-05-27 12:45] ganeshrvel commented on #144
I tried to implement this feature but unfortunately there are performance challenges to it. To fetch all the thumbnails I will have to download them to the local machine from the device.

Either I can do it the first time the user plugs in the device something similar to "Scanning" in VLC or other media players or keep download these thumbnails whenever I visit a directory and cache them. MTP prot

[2020-05-27 12:46] ganeshrvel commented on #143
@tie Thanks for the input, I shall look into it.

[2020-05-27 12:46] ganeshrvel commented on #141
Replied: https://github.com/ganeshrvel/openmtp/pull/142#issuecomment-634633194

[2020-05-27 12:49] ganeshrvel commented on #138
I am aware of this issue, MTP is a very old and shitty protocol. I am still wondering why google hasn't replaced it will ADB.!

I am trying to implement a ADB support as well for OpenMTP, which will solve two things:

1) Samsung device support
2) Transfer speed

The ADB support will be optional and will be an OPT in feature.

[2020-05-27 12:50] ganeshrvel commented on #137
There are some technical complications with this. I will try to improve the UX

[2020-05-27 12:50] ganeshrvel commented on #129
https://github.com/ganeshrvel/openmtp/issues/138

[2020-05-28 08:06] Jacques44 commented on #144
Hello,
I didn't know it was so slow. In fact, while using the tool, picture download is quite fast.
Maybe, refresh only thumbs on visible items or trigger by hand...

Thanks anyway for the work

Regards

[2020-06-07 22:06] gregpassmore commented on #118
echoing others: lack of samsung support wasn't clear, just banged my head for awhile before finding this issue.

[2020-06-11 14:41] notnullnotvoid opened #145 "Your application is a dumpster fire."
220 MB for an application that barely does one thing. No drag-and-drop, so manually navigating using the application's jank-as file browser is necessary, and a huge pain. Doesn't handle shift-click correctly. Doesn't respond to cmd+q. etc. Projects like this give open source a bad reputation.

[2020-06-14 10:05] kittywhiskers commented on #145
What part of the license doesn't make sense to you?
[code]

You haven't paid a dime and "electron bad because its bloaty" has been rinsed and repeated. File an issue or quit whining.

[2020-06-14 22:05] notnullnotvoid commented on #145
I did file an issue. You're looking at it.

[2020-06-15 10:35] ganeshrvel commented on #141
Fixed the issue.
https://github.com/ganeshrvel/openmtp/releases/tag/v2.4.4

[2020-06-15 10:36] ganeshrvel commented on #143
I will have to check for the practical implications of this change. Will update you ASAP

[2020-06-15 10:36] ganeshrvel commented on #130
Fixed the issue.
https://github.com/ganeshrvel/openmtp/releases/tag/v2.4.4

[2020-06-15 10:37] ganeshrvel commented on #127
Fixed the issue.
https://github.com/ganeshrvel/openmtp/releases/tag/v2.4.4

[2020-06-15 10:41] ganeshrvel commented on #145
I have fixed the quit shortcut issue. The `drag-and-drop` and `clipboard support` are something I am working on. There are some technical and other reasons why I am not able to get it done.

For `shift-click` issue feel free to raise a PR!

[2020-06-15 13:15] thibault-ml commented on #141
Thank you!

[2020-06-15 13:15] #141 closed

[2020-06-17 09:25] raveslave opened #149 "Native disk mount"
Would it be possible to present the MTP device as a native disk in macOS?
i.e. like Mac Fuse, or like it works in expandrive.com

[2020-06-18 15:38] ivanooi commented on #118
Any news so far? thanks

[2020-06-19 17:25] josh-andersn opened #150 "Needs file previews! And drag and drop from the finder (or file browser)"
I love this project it makes my work so much easier!

It would be LEGEND if I could see file previews and I could drag and drop files over from the finder/file browser

Ps: being able to set favorite folders from your disk would be nice.

You guys Rock!

[2020-07-11 00:18] rocketgeek13 commented on #118
Would love if support for Samsung devices. I've had Samsung for about 4 contracts now and I'd love an alternative to either the built-in file explorer in Smart Switch or Android File Transfer

[2020-07-24 06:35] ema1982 opened #151 "Suddenly stopped working"
**Describe the bug**
I tried connecting my Android phone, a Blu device, using a USB cable, and no matter what I do, no matter how many times I click the Refresh icon, it does not load.  I have had to wirelessly transfer my files, and I will literally die before the transfer is finished.

**Expected behaviour**
It's supposed to load the phone's internal files and should also load the files on the m

[2020-07-24 06:55] ganeshrvel commented on #151
Hey @ema1982

You made my day! :D

I feel you, we all feel ya!

I made this app literally for the same reason as I didn't find help from anywhere and all the apps found online were slow or expensive. I am well aware of the OpenMTP's incompatibility issue with certain devices. This is beyond my reach for now. I have been reaching out to the community to help me build a new Kernel which could allow

[2020-07-24 06:59] ganeshrvel commented on #150
Thanks @josh-andersn

File previews is something I tried to work on https://github.com/ganeshrvel/openmtp/issues/144, but there are certain challenges to it.

I tried to get the "drag and drop files over from the finder/file browser" working but again due to "Electron" restrictions I wasn't able to get it done. Basically electron.js isn't giving me the access to the file object dragged into the ap

[2020-07-24 06:59] ganeshrvel opened #152 "Allow users to set fav directory or file"
Allow users to set fav directory or file

[2020-07-24 07:04] ganeshrvel commented on #149
I am looking into it. Will keep you posted

[2020-07-25 18:03] wadewegner opened #153 "Support Garmin devices"
I have a Forerunner 945. It'd be awesome if openmtp supported these Garmin devices.

[2020-07-27 06:57] jolyonralph commented on #137
I don't think it's complicated to show how many files have copied and how many are still due to be copied.  Even if we can't have an estimated time of completion simply an indication of how far we are through the list of files is essential.

[2020-07-27 06:59] jolyonralph commented on #145
I wasn't expecting much seeing how bad Android File Transfer is on the mac, I wasn't expecting a app with a WORSE user interface.  Going to have to investigate commercial apps now.

[2020-07-27 13:13] peterv1988 opened #154 "File transfer stuck midway during transfer"
**Describe the bug, Current Behavior and Context**
When transferring files from my Mac  to Android device (`Xiaomi Note 6 Pro`), OpenMTP gets stuck on transferring one specific file. This happens again after second attempt and seems to be related to some corruption within certain backed-up files.

The application interface is still usable but there is no way to skip to next file, or to cancel the

[2020-08-02 09:41] Coffeecoder commented on #118
Please mention missing support for Samsung devices in README.md.
Would love to see Samsung support.

[2020-08-04 16:11] MattFromPhilly opened #155 "Ability to MOVE instead of just COPY"
The app is great. The only thing that would make it perfect is an option like when using the Finder to hold down the command key to MOVE the file (i.e. copy the file and then when the copy is successful, delete the original).

[2020-08-24 08:17] harshmandan commented on #46
@ganeshrvel Is this feature being considered anytime soon? The current theme nearly blinded me, the app is nice though.

[2020-08-25 08:16] steveharman opened #156 "Nothing happens when I connect devices"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [x ] Using yarn
- [ x] Using node 10.x
- [ x] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [x ] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [x ]

[2020-09-04 10:05] SuperHenkie opened #157 "Any chance to see file sizes?"
Great initiative, so happy I found out about OpenMTP! 😃 Android File Transfer sortof did the job, kinda, but it's so hopelessly outdated.

Instead of just the names and dates added, would it be possible to also show the file **sizes**?

[2020-09-04 10:22] SuperHenkie commented on #145
Agree with the issues, disagree with the disdaining tone.

I think it's great somebody made the effort to finally create an alternative for that horrendous Android File Transfer (cr)app.

Obviously it's still work in progress. Hopefully shift-click, drag & drop (both from Finder to OpenMTP's Phone section and vice versa), move instead of copy, better file/folder navigation, etcetera will be implem

[2020-09-04 10:23] SuperHenkie commented on #149
Yes! A thousand times yes! That would be AWESOME 👌👌

Obviously the disk  / volume would be pretty slow to access, that's all right.

I REALLY hope this feature will see the light of day! 🙏

[2020-09-04 10:25] ganeshrvel commented on #157
It's a bit complicated situation. The current MTP kernel doesn't expose the date params

[2020-09-04 10:27] ganeshrvel commented on #149
I'm looking into rewriting the app from the scratch. Time to move away from electron. I will try to support both adb and Mtp this time. Everything written from the scratch. It might not happen anytime soon but it's coming.

[2020-09-04 10:43] SuperHenkie opened #158 "Is shift+click or command+click supposed to do something different than regular click? (right now it doesn't)"
The documentation says ⌘+click and ⇧+click is to select multiple items. But the same happens with regular clicking (without any keys).

I would say ⇧+click (shift+click) is supposed to select a whole range, for example if you click item number 3 it selects that, and then if you ⇧+click item number 8, it selects *all* items 3 through 8. And then next if you click item number 14 it will select that

[2020-09-11 00:49] Shadowspear123 commented on #118
Please note in the readme or somewhere that Samsung is not supported. Would've saved me so much time.

[2020-09-11 09:32] ganeshrvel commented on #118
@Shadowspear123 @Coffeecoder done

[2020-09-14 09:58] SuperHenkie commented on #149
Thanks Ganesh, awesome. Really looking forward to it!

Just out of curiosity, why leaving electron? Does it suck, or does it impose limitations? (have zero experience with it myself)

[2020-09-16 22:16] edirpedro commented on #111
This makes the app looks weird on Mac, because we use drag and drop all the time. And if this feature is implemented, the Computer panel should receive an option to hide it, it's not necessary for Mac users with drag and drop. It should be like Android File Transfer.

[2020-09-18 14:17] steveharman commented on #157
HI.  I came here to report this issue as well.  My main intention of using OpenMTP was to track down & remove large files on my mobile device - but the current "Phone" view in OpenMTP doesn't display file **size** information.  It would be very useful to have.

Thanks for a great tool, it's far far superior to Google's!   :-)

[2020-09-18 21:02] ganeshrvel commented on #157
@steveharman The MTP kernel that I use doesn't emit the size information. I am planning of rewriting it, hopefully soon you will have the size info.

Cheers!

[2020-10-01 08:54] gio888 opened #159 "Cannot connect Xiaomi Mi Pad 4 but Xiaomi Mi 9 no problem"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [x] Using yarn
- [x] Using node 10.x
- [x] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [x] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [x] For i

[2020-10-17 20:25] ganeshrvel commented on #156
I'm currently working on a new mtp kernel. hopefully soon we will have support for all these devices.

[2020-10-17 20:26] ganeshrvel commented on #157
I'm currently working on a new mtp kernel and soon enough, hopefully, we will have sizes in the MTP section.

[2020-10-17 20:27] ganeshrvel commented on #155
Will consider adding this feature in the future releases

[2020-10-17 20:27] ganeshrvel commented on #153
I'm currently working on a new mtp kernel and hopefully we will have support for a wider range of devices.

[2020-10-17 20:30] ganeshrvel commented on #137
I'm currently working on a new mtp kernel and hopefully we will have more information to display the total progress

[2020-10-19 20:57] ganeshrvel commented on #137
A quick question:
What would you guys prefer:

a) faster data transfer with minimal files processing time.

or

b) more information on the file transfer progress screen?

To compute the total transfer size from an Android device requires additional time to fetch and process the file information. This may be anywhere from a few seconds to few minutes depending on your phone's performance.

Things w

[2020-10-19 21:38] hacker1024 commented on #137
Would it be possible to add a setting? If not, I personally wouldn't take the trade-off in performance if the total file count/files left could be shown.

[2020-10-20 07:10] ganeshrvel commented on #137
Looks like even Google android file transfer is pre-processing the files for estimating the total size and time.

MTP is crap! Every MTP operation is basically a transaction and each of them are allotted a transaction ID. Attempting to start parallel transactions will lead to a race condition as only one transaction can happen at a time.

So in practice
- to fetch the estimated time and total file

[2020-10-20 07:43] ganeshrvel commented on #3
I'm rewriting the MTP kernel from scratch to add support to Samsung devices.

Unfortunately I don't have a Samsung device. If anyone is willing to alpha test the code please reply here.

[2020-10-20 07:44] ganeshrvel commented on #8
I'm rewriting the MTP kernel from scratch to add support to Samsung devices.

Unfortunately I don't have a Samsung device. If anyone is willing to alpha test the code please reply here or email to ganeshrvel@outlook.com

[2020-10-20 07:45] ganeshrvel commented on #118
I'm rewriting the MTP kernel from scratch to add support to Samsung devices.

Unfortunately I don't have a Samsung device. If anyone is willing to alpha test the code please reply here or email to ganeshrvel@outlook.com

[2020-10-20 09:02] desisn commented on #118
I can test it for you. I have multiple Samsung devices here. S8, S10 and A20e. Just post a link to the download with instructions what you want me or other testers to do and I will gladly help you.

[2020-10-20 10:19] riordant commented on #8
Hi @ganeshrvel, I have a Samsung device and willing to help test.

[2020-10-20 10:54] ksaerdna commented on #8
I might not have enough time for alpha testing, but once the new MTP has reached an appropriate level of stability I might help you with beta testing.

[2020-10-20 11:50] ganeshrvel commented on #8
@riordant Awesome! Could you send an email to ganeshrvel@outlook.com so that I could send you a detailed instruction.

[2020-10-20 11:51] ganeshrvel commented on #118
@desisn Awesome! Could you send an email to ganeshrvel@outlook.com so that I could send you a detailed instruction.

[2020-10-20 17:47] ganeshrvel commented on #8
Can someone test the fixes as described in this video: https://youtu.be/8F4rxC8NIHw ?

[2020-10-20 17:57] ganeshrvel commented on #118
Can someone test the fixes as described in this video: https://youtu.be/8F4rxC8NIHw ?

[2020-10-22 08:54] yennsarah commented on #8
kext will be deprecated soonish, so no solution forever.. (
https://www.zdnet.com/article/apple-deprecating-macos-kernel-extensions-kexts-is-a-great-win-for-security/
)
Haven't tried it though ^^'

Am Di., 20. Okt. 2020 um 19:47 Uhr schrieb Ganesh Rathinavel <
notifications@github.com>:

[2020-10-22 13:07] ganeshrvel commented on #8
Thanks! Hopefully we will have a straightforward solution to use Samsung devices.

Fingers crossed!

[2020-11-01 03:48] ganeshrvel opened #160 "Electron Upgrade"

[2020-11-01 03:52] ganeshrvel opened #161 "Upgrade Babel, eslint, react, webpack, yarn"
Upgrade
- [x] Babel
- [x] eslint
- [x] react
- [x] webpack
- [x] yarn

[2020-11-01 03:54] ganeshrvel opened #162 "New Kernel"
- [x] Support legacy mtp kernel
  - [x] new repository data channel
  - [x] toggle button to choose between legacy and new mode
- [x] tooling
  - [x] script to verify loader_path in libusb.dylib
- [ ] tests

[2020-11-01 09:57] ganeshrvel opened #163 "Add sentry"
Sentry for reporting errors

Report error should capture:
Manufacturer, model, mtp mode.
USB debug info, storage info/errors
Usb devices iface value

Include these in the privacy policy document

[2020-11-01 09:59] ganeshrvel opened #164 "Google analytics"
Get MTP version number
Device name
Device Model

Add these to the privacy policy document

[2020-11-01 12:26] ganeshrvel opened #165 "CI/CD fix"

[2020-11-01 18:55] #160 closed

[2020-11-01 19:53] ganeshrvel commented on #143
Fixed this is in https://github.com/ganeshrvel/openmtp/commit/182e7176c3124c88417e033ca4eedce1edf559ba and https://github.com/ganeshrvel/openmtp/commit/2190dd0f257a2585a68c3d264ba1a097fa4e5dca.

Closing.

[2020-11-01 19:53] #143 closed

[2020-11-01 19:55] ganeshrvel commented on #161
Fixed: https://github.com/ganeshrvel/openmtp/pull/166

[2020-11-01 19:55] #161 closed

[2020-11-03 19:40] ganeshrvel commented on #67
Fixed this in https://github.com/ganeshrvel/openmtp/pull/168.

Closing the issue.

[2020-11-03 19:40] #67 closed

[2020-11-03 19:41] ganeshrvel commented on #46
Fixed this in https://github.com/ganeshrvel/openmtp/pull/168.

Closing the issue.

[2020-11-03 19:41] #46 closed

[2020-11-03 19:45] ganeshrvel opened #169 "Autoupdater is broken"
Autoupdater is broken

- [x] Audit to check if prerelease update check is enabled by default. If yes, make it a opt-in feature.
- [x] App updater isn't working for users who have unchecked the auto updating setting.

[2020-11-04 09:05] ganeshrvel opened #170 "New file icons"

[2020-11-04 10:50] ganeshrvel opened #172 "Drag and drop files from Electron window to Finder window"
Drag and drop files from an Electron window to Finder window has a lot of implementation limitations.
Issues: https://github.com/electron/electron/issues/12144, https://github.com/electron/electron/issues/9274
Resources: https://github.com/mafar/electron-drag-drop-remote-files, https://www.electronjs.org/docs/tutorial/quick-start

[2020-11-04 10:51] ganeshrvel commented on #111
Drag and drop files from an Electron window to Finder window has a lot of implementation limitations.
Issues: https://github.com/electron/electron/issues/12144, https://github.com/electron/electron/issues/9274
Resources: https://github.com/mafar/electron-drag-drop-remote-files, https://www.electronjs.org/docs/tutorial/quick-start

The `drag and drop files from Electron window to Finder window` fea

[2020-11-04 10:52] ganeshrvel commented on #111
Fixed [Drag and drop files from finder window to app] in https://github.com/ganeshrvel/openmtp/pull/171

[2020-11-04 10:53] #111 closed

[2020-11-04 10:53] ganeshrvel commented on #122
Fixed in https://github.com/ganeshrvel/openmtp/pull/171

[2020-11-04 10:53] #122 closed

[2020-11-04 12:52] ganeshrvel commented on #106
fixed it in https://github.com/ganeshrvel/openmtp/pull/173

[2020-11-04 12:52] #106 closed

[2020-11-04 14:37] ganeshrvel commented on #47
Fixed it in https://github.com/ganeshrvel/openmtp/pull/174

[2020-11-04 14:37] #47 closed

[2020-11-04 14:39] ganeshrvel commented on #111
@edirpedro

added this feature in https://github.com/ganeshrvel/openmtp/pull/174

[2020-11-04 17:22] ganeshrvel commented on #170
Fixed in https://github.com/ganeshrvel/openmtp/pull/175

[2020-11-04 17:22] #170 closed

[2020-11-04 20:08] ganeshrvel opened #178 "Show folders first"

[2020-11-04 20:09] ganeshrvel commented on #178
Fixed in https://github.com/ganeshrvel/openmtp/pull/177

[2020-11-04 20:09] #178 closed

[2020-11-19 15:03] cdestre commented on #118
Hi, I tried the USB debugging mode (with revoke of auth) as suggested in the video and it doesn't help to use openMTP with my samsung A5 5G. I will send you an email if you need more tester for samsung devices.

[2020-11-19 15:09] ganeshrvel commented on #118
@cdestre Thank you! Do send me an email to ganeshrvel@outlook.com . The alpha version of OpenMTP 3.0 (with Samsung support) should be out in a couple of weeks and I need feedback.

[2020-11-19 15:15] ganeshrvel commented on #154
symlinks are tricky. In the next release of OpenMTP this issue should be fixed (at least temporarily)

[2020-11-26 14:21] ganeshrvel opened #180 "New logo/launcher icon for OpenMTP"
It has been two years since I launched OpenMTP and now we are a strong community with users from over 180 countries. It has been a long journey and I thank you all for sticking close by.

I am close to launching the next major release of OpenMTP and it will feature Samsung device support, Dark theme mode and many more. Samsung device support, Dark theme mode has been a long-standing request from t

[2020-11-26 14:23] ganeshrvel commented on #8
Hi all, I am getting closer to the Next major release and I am looking for rebranding the app icon. Find more details here: https://github.com/ganeshrvel/openmtp/issues/180

Hit me up at ganeshrvel@outlook.com if you are interested.

[2020-11-26 14:23] ganeshrvel commented on #118
Hi all, I am getting closer to the Next major release and I am looking for rebranding the app icon. Find more details here: https://github.com/ganeshrvel/openmtp/issues/180

Hit me up at ganeshrvel@outlook.com if you are interested.

[2020-11-27 13:21] ganeshrvel commented on #8
I have sent an email invitation to all those who had showed interest in testing Samsung device support in OpenMTP. Please check junk mail in case if it isn't there in your inbox. I'd appreciate feedback.

[2020-11-27 13:22] ganeshrvel commented on #118
I have sent an email invitation to all those who had showed interest in testing Samsung device support in OpenMTP. Please check junk mail in case if it isn't there in your inbox. I'd appreciate feedback.

[2020-12-02 22:46] ganeshrvel commented on #137
@hacker1024 this looks okay?

<img width="605" alt="Screenshot 2020-12-03 at 4 15 43 AM" src="https://user-images.githubusercontent.com/182092/100940609-3fc38000-351e-11eb-890f-8b9c6db26f94.png">

[2020-12-03 01:42] hacker1024 commented on #137
Looks amazing, thanks!

[2020-12-05 19:57] ganeshrvel commented on #162
fixed in https://github.com/ganeshrvel/openmtp/pull/181

[2020-12-05 19:57] #162 closed

[2020-12-05 19:58] ganeshrvel commented on #118
Fixed in https://github.com/ganeshrvel/openmtp/pull/181

[2020-12-05 19:59] ganeshrvel commented on #8
Fixed in https://github.com/ganeshrvel/openmtp/pull/181

Keeping this open until stable release it out.

[2020-12-05 20:00] ganeshrvel commented on #157
Fixed in https://github.com/ganeshrvel/openmtp/pull/181.

Closing.

[2020-12-05 20:00] #157 closed

[2020-12-05 20:00] ganeshrvel commented on #156
This should have been fixed by https://github.com/ganeshrvel/openmtp/pull/181

Keeping this open until stable release it out.

[2020-12-05 20:02] ganeshrvel commented on #159
This should have been fixed by https://github.com/ganeshrvel/openmtp/pull/181

Keeping this open until the stable release it out.

[2020-12-05 20:02] ganeshrvel commented on #137
Fixed in https://github.com/ganeshrvel/openmtp/pull/181

[2020-12-05 20:03] ganeshrvel commented on #137
Closing.

[2020-12-05 20:03] #137 closed

[2020-12-05 20:03] ganeshrvel commented on #138
Fixed in https://github.com/ganeshrvel/openmtp/pull/181

[2020-12-05 20:03] #138 closed

[2020-12-05 20:04] ganeshrvel commented on #3
This should have been fixed by https://github.com/ganeshrvel/openmtp/pull/181

Keeping this open until the stable release it out.

[2020-12-05 20:05] ganeshrvel commented on #154
This should have been fixed by https://github.com/ganeshrvel/openmtp/pull/181

Keeping this open until the stable release it out.

[2020-12-05 20:05] ganeshrvel commented on #163
Fixed in https://github.com/ganeshrvel/openmtp/pull/181

Closing.

[2020-12-05 20:05] #163 closed

[2020-12-05 20:06] ganeshrvel commented on #140
Closing this for now. The new MTP implementation is showing better results and control than ADB

[2020-12-05 20:06] #140 closed

[2020-12-05 20:07] ganeshrvel commented on #151
This should have been fixed by https://github.com/ganeshrvel/openmtp/pull/181

Keeping this open until the stable release it out.

[2020-12-05 20:08] ganeshrvel commented on #129
Fixed in https://github.com/ganeshrvel/openmtp/pull/181. Closing

[2020-12-05 20:08] #129 closed

[2020-12-05 21:43] ganeshrvel commented on #169
Fixed in https://github.com/ganeshrvel/openmtp/pull/182

[2020-12-05 21:43] #169 closed

[2020-12-06 15:19] ed789d0 opened #184 "Does this app support Nintendo Switch?"
I don't have a switch, but according to https://www.howtogeek.com/703315/how-to-copy-nintendo-switch-screenshots-to-a-mac-over-usb/ it uses MTP, so I was wondering if it works.

[2020-12-07 13:18] ganeshrvel commented on #3
I am happy to announce that OpenMTP-3.0.0 has reached community beta today. OpenMTP-3.0.0-beta.2 includes much awaited **Samsung** phone support, **Dark theme** mode, file size in the MTP pane, total file copy progress, single pane mode and much more. The new **Kalam MTP Kernel** which is the backbone of the app offers up to **5-6**x file transfer speed.
It's stable enough to be used as your daily

[2020-12-07 13:21] ganeshrvel commented on #156
@steveharman

Could you download the latest community beta version of OpenMTP from https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and let me know whether your device is recognized?

Cheers

[2020-12-07 13:21] ganeshrvel commented on #151
Hi @ema1982,

Could you download the latest community beta version of OpenMTP from https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and let me know whether your device is recognized?

Cheers

[2020-12-07 13:21] ganeshrvel commented on #118
I am happy to announce that OpenMTP-3.0.0 has reached community beta today. OpenMTP-3.0.0-beta.2 includes much awaited **Samsung** phone support, **Dark theme** mode, file size in the MTP pane, total file copy progress, single pane mode and much more. The new **Kalam MTP Kernel** which is the backbone of the app offers up to **5-6**x file transfer speed.
It's stable enough to be used as your daily

[2020-12-07 13:22] ganeshrvel commented on #8
I am happy to announce that OpenMTP-3.0.0 has reached community beta today. OpenMTP-3.0.0-beta.2 includes much awaited **Samsung** phone support, **Dark theme** mode, file size in the MTP pane, total file copy progress, single pane mode and much more. The new **Kalam MTP Kernel** which is the backbone of the app offers up to **5-6**x file transfer speed.
It's stable enough to be used as your daily

[2020-12-07 13:22] ganeshrvel commented on #154
@peterv1988

Could you download the latest community beta version of OpenMTP from https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and let me know whether your device is recognized?

Cheers

[2020-12-07 13:23] ganeshrvel commented on #159
@gio888

Could you download the latest community beta version of OpenMTP from https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and let me know whether your device is recognized?

Cheers

[2020-12-07 13:34] fleimgruber commented on #118
With OpenMTP-3.0.0-beta.2, no windows opens on start of app. macOS 10.12.6.

[2020-12-07 13:36] ganeshrvel commented on #118
Thank you for reporting. I am investigating into this.

On 07-Dec-2020, at 7:04 PM, fleimgruber <notifications@github.com<mailto:notifications@github.com>> wrote:

With OpenMTP-3.0.0-beta.2, no window opens on start of app. macOS 10.12.6.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/ganeshrvel/openmtp/issues/118#issue

[2020-12-07 13:37] ganeshrvel commented on #118
Thank you for reporting. I am investigating into this. @fleimgruber

[2020-12-07 17:46] cdestre commented on #118
Great work. Thank you very much. I successfully copied folders with multiple files from and to my Samsung A51 5G without any issue.

[2020-12-07 17:56] ganeshrvel commented on #118
@cdestre Awesome!
How many times did you have to refresh before seeing the files in your phone?
I need some information on connectivity of Samsung devices.

1) Plug-in your usb cable and run OpenMTP.
  a) Did the app read your files instantly?
  b) Did you get the "Accept MTP data access" popup?
2) Disconnect the usb cable -> refresh the app -> plug-in usb cable -> tap on refresh button.
  a) Did

[2020-12-07 18:09] cdestre commented on #118
No.

Yes, I got the red popup OpenMTP "Accept MTP data access" and, at the same time, I got popup on the phone for authorizing the connection. After I accept on the phone, nothing happens. I have to hit the refresh button one time to read files.

No.

Yes. Same behavior as for 1.

Cheers

[2020-12-07 18:10] ganeshrvel commented on #118
@cdestre thank you! I will try to improve the Samsung device experience.

[2020-12-08 09:39] ganeshrvel commented on #153
@wadewegner

Could you download the latest community beta version of OpenMTP from https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and let me know whether your device is recognized?

Cheers

[2020-12-08 18:36] meduzen commented on #184
Android File Transfer allows to connect the Switch to macOS, but unfortunately it doesn’t work for me using Open MTP. :(

I’m on Big Sur + last Open MTP version.

[2020-12-08 18:42] ganeshrvel commented on #184
@meduzen I could take a look.

Could you download the OpenMTP-3.0 public beta version from here: https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and check if the Switch works?

In case if it doesn't work then send me the error log by going to Help menu -> Report Bugs -> Email error logs -> Attach the log file to the email.

Cheers

[2020-12-08 21:58] meduzen commented on #184
Sent!

The dark mode is really cool. 👍

[2020-12-08 23:27] ganeshrvel commented on #184
@meduzen the information is too scarce to in the debug log. I shall send you another app file later. Do send me a debug log for that as well.

[2020-12-09 08:26] rudyryk commented on #149
@ganeshrvel Thanks for the awesome development! I'd personally vote for leaving GUI part as-is on Electron, it's basically fine. And adding the filesystem / Finder integration level, it would feel like so much more native way.

[2020-12-09 10:00] ganeshrvel commented on #149
@rudyryk I could take it up next but ExpanDrive looks expensive. @raveslave

Suggest me any alternatives? Any idea what MacDroid is using under the hood?

[2020-12-11 13:59] miharekar commented on #153
@ganeshrvel the beta does not work with Garmin FR945

[2020-12-11 14:01] ganeshrvel commented on #153
Could you send me the error log by going to Help menu -> Report Bugs -> Email error logs -> Attach the log file to the email.

[2020-12-11 14:30] ganeshrvel commented on #153
Hey @miharekar, I got the error log. Looks like MTP kernel isn't able to detect the Garmin device. I would like to add the support for the Garmin device but unfortunately I don't have a device with me.

If you are willing to contribute to the MTP kernel then please checkout https://github.com/ganeshrvel/go-mtpx/ and https://github.com/ganeshrvel/go-mtpfs/ . I am willing to extend my support to get

[2020-12-11 14:31] ganeshrvel commented on #184
Hey @meduzen, I got the error log. Looks like MTP kernel isn't able to detect the Switch device. I would like to add the support for the Switch device but unfortunately I don't have a device with me.

If you are willing to contribute to the MTP kernel then please checkout https://github.com/ganeshrvel/go-mtpx/ and https://github.com/ganeshrvel/go-mtpfs/ . I am willing to extend my support to get t

[2020-12-11 14:35] miharekar commented on #153
Yeah, I get it. It's impossible to debug without a device. I have an app running on garmin watches and on some of them it just doesn't work and I have no way of figuring it out.

However I also don't know `go` and don't own any Android devices at all, and all of this goes way above my abilities 😅

Maybe @wadewegner can help out?

I stumbled upon this completely randomly by a tweet and then just wa

[2020-12-11 14:37] ganeshrvel commented on #153
Damn them Google guys. Their app has support for every device but the app is crap.

[2020-12-15 01:15] otternet opened #194 "Polyend Tracker = MacOs"
Hi - Polyend Tracker is a music device using MTP. Data resides in an SD card, but turning on its File Transfer feature, the SD card does not show up in your app. Anything else I need to do? I'm running MacOs Big Sur.

[2020-12-15 06:00] ganeshrvel commented on #194
@otternet I could take a look.

Could you download the OpenMTP-3.0 public beta version from here: https://drive.google.com/file/d/1wpSlkGWZKe4-nRYcdJaPVA3Y6kOBMTsO/view?usp=sharing and check if the device works?

In case if it doesn't work then do send me the error log by going to Help menu -> Report Bugs -> Email error logs -> Attach the log file to the email.

Cheers

[2020-12-20 22:57] fleimgruber commented on #118
Just tried OpenMTP-3.0.0-beta.3 and https://github.com/ganeshrvel/openmtp/issues/118#issuecomment-739921395 is solved for me, thanks and good job!

[2020-12-20 23:11] ganeshrvel commented on #118
Announcement: I just released a public beta version of OpenMTP v3.0.0. Head over to the app and turn on the prerelease update to receive the OpenMTP prerelease updates.

[2020-12-21 09:00] ganeshrvel commented on #180
Added in https://github.com/ganeshrvel/openmtp/pull/192.

Closing

[2020-12-21 09:00] #180 closed

[2020-12-24 10:11] slamble commented on #153
I'm trying to figure this out. Is it a simple matter of adding the vendor and device ID (as seems to be the case for libmtp - see https://github.com/libmtp/libmtp/blob/master/src/music-players.h to understand what I'm getting at)? Or is it a little more complicated than that?

I have the Fenix 6s (vendor ID 0x091e, device ID 0x4cd8), so testing it isn't difficult - it's simply that I'm not familia

[2020-12-25 17:41] desisn commented on #118
The new version works well on my Samsung Galaxy S8. Do you think it would be possible to show preview thumbnails for pictures? Very well done Ganesh!

[2020-12-25 20:25] ganeshrvel commented on #118
@desisn thank you for reporting. I will definitely look into this.

Could you send me the error log by going to Help menu -> Report errors -> Email error logs -> Attach the log file to the email?

ganeshrvel@outlook.com

[2021-01-02 12:08] channprj opened #208 "Update Installation in README"
## Summary

- `brew` changed recently, so **Installation** should be updated in README.

### Error

[code]

### Solution

[code]

## Reference

- [brew.sh](https://brew.sh/)

[2021-01-02 12:24] channprj commented on #208
I think it is not a bug, it's just a minor fix of docs. but I cannot change or update labels. 🥲

[2021-01-03 00:45] victor opened #210 "No file size info in device panel"
Hi,

 I checked out openMTP today to look for some big files on my device which are eating up the storage space. I found surprising that I need to copy the files to my mac just to find out their size. Did I miss something?

[2021-01-03 16:59] ganeshrvel commented on #208
fixed this in https://github.com/ganeshrvel/openmtp/commit/60d0d8df12bfea420f142d7a5f864a2605827a45

Feel free to raise another pr for Markdown formatting.

[2021-01-03 17:00] #208 closed

[2021-01-03 18:08] ganeshrvel commented on #118
As promised earlier, I am releasing the stable version of the OpenMTP v3.0 today. The 3.0 release represents over 4 months of development efforts, featuring 467+ commits and 35 pull requests. I would like to express my deepest gratitude towards the community members for taking on this challenge and providing feedback for the pre-release versions.

Download the latest stable version from here: http

[2021-01-03 18:09] ganeshrvel commented on #118
Fixed in https://github.com/ganeshrvel/openmtp/pull/211.

Closing the issue

[2021-01-03 18:09] #118 closed

[2021-01-03 18:12] ganeshrvel commented on #159
Unfortunately Mi4 pad has some issue but unfortunately I don't have the device with me to run some test.

Will try to add the support for the device.

[2021-01-03 18:12] ganeshrvel commented on #3
As promised earlier, I am releasing the stable version of the OpenMTP v3.0 today. The 3.0 release represents over 4 months of development efforts, featuring 467+ commits and 35 pull requests. I would like to express my deepest gratitude towards the community members for taking on this challenge and providing feedback for the pre-release versions.

Download the latest stable version from here: http

[2021-01-03 18:13] ganeshrvel commented on #3
Fixed it in https://github.com/ganeshrvel/openmtp/pull/211

closing

[2021-01-03 18:13] #3 closed

[2021-01-03 18:13] ganeshrvel commented on #8
As promised earlier, I am releasing the stable version of the OpenMTP v3.0 today. The 3.0 release represents over 4 months of development efforts, featuring 467+ commits and 35 pull requests. I would like to express my deepest gratitude towards the community members for taking on this challenge and providing feedback for the pre-release versions.

Download the latest stable version from here: http

[2021-01-03 18:14] #164 closed

[2021-01-04 06:44] ganeshrvel commented on #210
Can you try the latest stable build?

And then go to Settings>File Manager > View as grid (uncheck for phone)

[2021-01-04 22:39] atkeeler opened #212 "Program goes blank using Samsung Galaxy S10+ (Example Images Attached)"
I went ahead and downloaded the latest version of the program today and I'm currently trying to connect it to my MacBook Pro (running MacOS Catalina 10.15.7), and for some reason the program goes blank when I hit the refresh button. I know it's connected properly because I ren Samsung Smart Switch and it was detected. I plugged in my Moto G3 just to try it and It works fine with that. Not sure wha

[2021-01-06 13:42] ganeshrvel commented on #212
I will take a look. Thanks for reporting

[2021-01-08 21:40] xNS5 commented on #212
I'm having a similar issue on my S8+ w/ MacOS 10.15.7

I want to say the program gets stuck while refreshing, so that might be a place to look.

I seem to recall reading somewhere that Smart Switch interferes with MTP, but as I don't have it installed on my devices I can't say that's the cause.

[2021-01-09 13:44] MkStevo commented on #45
Just to also confirm I'm having this happen. I'm running Mojave and when started, OpenMTP fills the screen - covering my (auto-hidden) menu bar. Covering the menu bar makes re-sizing OpenMTP a little difficult as the menu keeps popping up over OpenMTP.

[2021-01-09 13:54] MkStevo opened #214 "Compact view to "List" mode?"
Would you consider the option of a much more compact vier to the list mode please? With the listings closer in size and spacing to the Finder's list view. At the moment the space between listings is greater than the content which seems a little wasteful.

[2021-01-10 03:50] ilplaymo commented on #45
confirmed also in Big Sur 11.0.1
here is default window size, too big in my Samsung 28' 4K

![Schermata 2021-01-10 alle 04 04 41](https://user-images.githubusercontent.com/2071355/104113938-f6293a80-52fe-11eb-813b-578fe2d526df.jpg)

for additional information i also attach detailed structure of my machine

[HacOS_config.txt](https://github.com/ganeshrvel/openmtp/files/5792185/HacOS_config.txt)

[2021-01-11 11:08] ganeshrvel commented on #212
@xNS5 @atkeeler

Could you guys send me the error log by going to Help menu -> Report Bugs -> Email error logs -> Attach the log file to the email.

Cheers

[2021-01-11 11:09] ganeshrvel commented on #214
I will see what I can do about it.

Cheers

[2021-01-11 23:18] atkeeler opened #217 "Image/File Preview"
I'd really like to see the ability to preview images or files on my MacBook in the future instead of having to go onto my Moto G3 and find the file name I want to copy over before actually copying a file from the device.

[2021-01-12 02:01] xNS5 commented on #212
I was right that smart switch interferes with MTP!

If you check out [this](https://medium.com/@farazfazli/how-i-reverse-engineered-keis-and-sidesync-and-fixed-mtp-8949acbb1c29) link, I found a few kext files leftover from when I had smart switch (which was a while ago). Once I uninstalled them, I was able to use the program without issue.

[2021-01-17 15:13] MkStevo commented on #214
Many thanks.

[2021-01-17 15:18] MkStevo commented on #149
MacDroid seems to be using FUSE? I was asked for permission for FUSE when I tried it initially. Although the only file transfer I tried failed!

[2021-01-17 22:19] mikae1 opened #218 "Time stamps reset on transfer"
Since version 3 it seems that original created/modified date is destroyed (and set to transfer time), which is very sad (because the speed increases are very welcome). 2.x kept the original date/time.

[2021-01-27 20:15] atkeeler commented on #212
@ganeshrvel

After removing SmartSwitch and all the Samsung drivers from my MacBook Pro (as suggested by @xNS5), I am able to access my S10+ through OpenMTP. I would recommend adding into the description that if a user has SmartSwitch installed on their Mac that it might interfere with the program due to the Samsung drivers that are installed on the system.

[2021-01-28 06:16] ganeshrvel commented on #212
Reopening this issue until its fixed.

[2021-01-28 06:21] xNS5 commented on #212
The issue has been fixed. The solution is to uninstall Smart Switch and remove the com.devguru.* kext files. I don't think there is anything you can do on your end to prevent these drivers from interfering with OpenMTP other than adding a disclaimer to the project README.

[2021-01-28 06:24] ganeshrvel commented on #212
i will have to make a note inside the faqs sections of the app

[2021-01-28 23:56] ThinkDigitalSoftware commented on #144
I came here for this too. It seems to be a small matter to get the thumbnails. Waiting for 12mb to transfer far outweighs transferring a few files to see what they are. one video would far surpass that

12M	.thumbnails/
d2q:/sdcard/DCIM $ du -sh
58G	.
d2q:/sdcard/DCIM $ ls
AR\ Doodle   Screen\ recordings
Camera      GIF             PhotosEditor   Screenshots
Collage     Google Photos  Restored

[2021-01-30 17:59] paulgurney commented on #218
awesome app!

I also had this issue on Mac - after transferring photos from phone, the computer file system changes both the `creation date` and the `modifed date` to the transfer time.  this is not ideal.

[2021-01-31 05:40] ganeshrvel commented on #218
I will look into it!

[2021-02-02 15:39] fulmar2 commented on #153
Same situation here, interested in using OpenMTP to connect to a Garmin Fenix 6x.  Let me know if I can help.

[2021-02-02 15:42] ganeshrvel commented on #153
@fulmar2 Unfortunately I dont have a Garmin device but if you are willing to contribute to the MTP kernel, please feel free to contribute to [https://github.com/ganeshrvel/go-mtpfs](https://github.com/ganeshrvel/go-mtpfs).

It's written in Go. Feel free to raise a pr, I will be happy to merge it.

Cheers!

[2021-02-06 15:14] knox commented on #158
@ganeshrvel can you please add this feature

[2021-02-06 17:03] ganeshrvel commented on #158
I tried to replicate the default key stroke behaviour as seen in the macOS finder. The macOS finder does not select range of files on ⇧+click

i will look into this.

[2021-02-12 23:08] adriel opened #220 "M1 support?"
Any plans for an M1 build?

Or a universal binary, as far as I can tell it's only intel so far. (though does seem to work ok via Rosetta)

[2021-02-13 04:58] ganeshrvel commented on #220
I would love to add a support for this. Unfortunately I don't have a M1 device. Any community member with Apple Silicone macbook, who would like to contribute, please comment below this thread so that we can roll out a M1 build to the other community members as well.

Cheers

[2021-02-21 19:04] ganeshrvel commented on #212
Updated the FAQ section in the latest version and README file. Closing this issue.

[2021-02-21 19:04] #212 closed

[2021-02-22 18:32] lar232unrkniero commented on #214
Exactly a good idea, would also like a list view.

By default this should be displayed in the column.

- Name
- Size
- Modified date

In addition, there should also be a function to decide which elements you want in list view.

So similar to macOS 11 Finder.

There are 2 more optional elements that can be added to the column
- Type
- Access date

[2021-02-22 18:45] lar232unrkniero commented on #218
I can fully confirm this problem with the current OpenMTP 3.1.5 version.

Tested with an Android 11 phone.

The problem is that OpenMTP does not preserve for `modified date` when users copy files and directories to macOS. The same problem is also with `access date`.

macOS a Unix like system supports `creation date`, which Android system does not. The logical behavior is when Android users copy fi

[2021-02-23 15:22] mikae1 commented on #218
3.15 has the same problem, but I just want to add that as soon as you switch to legacy transfer mode, it works as intended (dates are kept intact).

[2021-03-05 17:23] NotANormalNerd commented on #220
Hey, you can just generate a universal binary even on intel:

https://developer.apple.com/documentation/xcode/building_a_universal_macos_binary

Debugging is another thing, but proving something so people can test it.

[2021-03-11 15:37] zz5678 commented on #152
Yes! I am being here for suggestion or request of custom folder path, it is a really urgent function.  both on Mac and Android

[2021-03-26 18:46] alberto56 opened #222 "Could not set configuration of SAMSUNG SAMSUNG_Android: LIBUSB_ERROR_NO_DEVICE"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [x] Using yarn
- [x] Using node ~10.x~ **Using v15.12.0**
- [x] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master) **commit d820c48**
- [x] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-reac

[2021-03-26 18:51] alberto56 commented on #222
I also deleted "Handshaker", another file transfer program, from my phone and my mac. Still the same error occurs.

[2021-03-26 18:54] ganeshrvel commented on #222
Could you check this issue and see if deleting the smartswitch and residual kexts helped

https://github.com/ganeshrvel/openmtp/issues/156#issue-685275636

[2021-03-29 06:05] ganeshrvel commented on #218
working on it.

[2021-03-29 06:05] ganeshrvel commented on #152
working on it.

[2021-03-29 06:09] ganeshrvel commented on #220
@NotANormalNerd how about the app size after creating a universal binary? I use some native binaries inside the app which also needs to be cross compiled. not sure if it is possible at this moment. looking into it

[2021-03-31 14:29] alberto56 commented on #222
Thanks @ganeshrvel however, I checked https://github.com/ganeshrvel/openmtp/issues/156#issue-685275636 as suggested and it does not mention anything anything about smartswitch and residual kexts. Maybe you referenced the wrong issue?

[2021-04-07 08:12] ameeno commented on #220
Happy to test a M1 version for you.

[2021-04-07 16:31] ashwani12131 commented on #8
My device is not getting recongnized in openMTP but it is getting recognized in AndroidFileTransfer.
Device: LG G8X ThinQ
Macbook Air M1

[2021-04-08 01:14] adiso06 commented on #158
I also cannot use keyboard shortcuts to select multiple files or multiple folders. I am able to replicate the issue on re-install of the program as well.

[2021-04-13 14:50] RaphaelDDL commented on #184
Found this thread when searching for a mtp client for Switch, so just an update.

On the jailbreak side of Switch, it works. I've used openMTP 3.1.5 in conjunction with https://github.com/retronx-team/mtp-server-nx and it was usable.

Very slow (most of times less than 1mb/sec, but it's odd, some files go up to 5mb/sec sometimes), but still, works for small transfers. I tested with a big amount of

[2021-04-14 16:51] lideke opened #224 "keep the file creation date when i upload to the phone"
I'd like have an option to keep the creation date of the file when i upload to the phone.

[2021-04-14 16:52] #224 closed

[2021-04-14 16:54] lideke commented on #224
duplicate : https://github.com/ganeshrvel/openmtp/issues/218

[2021-04-16 13:57] troelshartmann commented on #214
Just discovered this app - I would much appreciate this too.

Things like song titles aren't fully visible in the current view.

[2021-04-21 18:05] mareking opened #225 "4GB file size limit: Files >= 4GB can not be transfered"
It seems as if OpenMTP-3.1.5 is not able to transfer files 4GB and larger. Files of that size are either simply skipped and not copied when copying e.g. a folder with files in it. Or the copy progress window is stuck at "x of y files copied | Progress: 20 KB / 4.8 GB".

This limit exists in Android File Transfer too, but maybe one can find a way to remove it in OpenMTP?

[2021-04-25 08:36] ksaerdna commented on #8
@ashwaniiii: I have a somewhat similar configuration:
Device: G8S
Computer: ancient Mac Pro

, and everything works fine. So I think it's a compatibility problem with your M1. BTW: OpenMTP version tested is 3.1.5.

[2021-04-26 22:03] marco-gagliardi opened #226 "Skip all?"
Transfer huge backups is probably one of the most common use case for file transfers apps. Frequent crashes or other unexpected events (phone/computer going in sleep mode, cable accidentally disconnected) in the middle of the process this turns in a very painful operation because you have to start everything from the beginning. A simple "skip all" option would remove the pain allowing to  do a sor

[2021-05-16 15:05] oleksandr-yefremov commented on #158
+1 for Shift+click for selecting range. I wanted to copy range of photos from "Camera" folder. Clicking 250 single files is not what I was expecting :) Reverting back to Android File Transfer.
Speaking about Finder. Shift+click works in List and Column view mode.

[2021-05-16 23:07] tyteen4a03 opened #227 "App refuses to transfer files with question marks in them"
Versions:

* Android 11 (May Security Patch) on my Pixel 5
* OpenMTP Version 3.1.5 (3.1.5) on Legacy MTP mode

If you attempt to transfer a file with a question mark in the filename, the app chokes and never finishes the transfer.

[2021-05-20 22:43] ronyeh commented on #218
Thanks for your hard work on this project! I think my issue is related to this. I have a GoPro that I connect to my macbook via MTP mode. When I drag a MP4 or JPG over to my computer, I would prefer if the file's creation / modification timestamp information was identical to what they are on the GoPro's SD card. Right now, the timestamps are set to the transfer time. (Ideally I would not have to r

[2021-05-20 22:47] ronyeh commented on #218
To be more specific, the EXIF information in the JPG files is preserved correctly. So the "image created" field in the EXIF is fine.

However, I'd like if the file system timestamps were also set to be identical to the file system timestamps on the SD card / GoPro camera. This is most important for MP4 files, since they do not contain EXIF information.

[2021-05-21 17:25] Shankymahajan commented on #220
I can help in testing M1 version

[2021-05-21 20:09] ganeshrvel opened #228 "Add permission request fix"
https://github.com/codebytere/node-mac-permissions#permissionsaskforfoldersaccessfolder

[2021-05-21 20:09] ganeshrvel commented on #227
Interesting. I will check this.

[2021-05-21 20:11] ganeshrvel commented on #226
The app check for the files in the level one of the path before starting the file transfer. A nested file check could be an expensive thing. I agree to your point, even I face such similar issues, will see what I can do about this.

[2021-05-21 20:12] ganeshrvel commented on #225
What kernel are you using?

[2021-05-26 05:57] ganeshrvel commented on #228
fixed it here: https://github.com/ganeshrvel/openmtp/pull/229

closing this.

[2021-05-26 05:57] #228 closed

[2021-05-26 21:59] maxengel commented on #2
@ganeshrvel I'd also love to see a sync feature where a source (left pane) could be used to sync with a destination (right pane). Ideally, it would offer:
1. Merge
2. Mirror (left-to-right or right-to-left)

[2021-06-05 12:18] dflexxy commented on #220
I have a M1, it works fine only transferring pictures or videos goes slow.

[2021-06-07 17:29] Voreball commented on #214
Just found out about OpenMTP. The features listed here are very welcome ! Thanks

[2021-06-07 17:36] Voreball commented on #227
You can add " (quotation mark) to the same list. Transfer stops when there's a " in the filename.
Il sure come back if I find any other problematic character.

[2021-06-07 17:38] Voreball commented on #155
I support this request too ! Thanks !

[2021-06-13 12:41] mightysashiman commented on #145
the tone is indeed a total no-no. Op should just help out instead of criticizing.
That said, pity indeed openMTP isn't using MacOS GUI. Did I have knowledge in Swift I'd fork it and make it a "regular" MacOS app.
Thanks to the dev nevertheless !

[2021-06-17 08:26] sbliven opened #230 "Support symbolic links"
As of 3.1.10, symbolic links on the macOS side show up as regular files. They should dereference to the files or directories pointed to by the link.

[2021-06-30 13:51] ganeshrvel commented on #227
@Voreball I was able to reproduce this issue. But the situation is a tad more complication. I could easily fix this by sanitizing the filenames but the same gets a complicated for directories.

I need more time on this issue as I need to make sure that I dont break anything

[2021-06-30 14:12] ganeshrvel commented on #218
fixed in https://github.com/ganeshrvel/openmtp/issues/218.

Closing

[2021-06-30 14:12] #218 closed

[2021-06-30 15:01] ganeshrvel commented on #230
fixed this in https://github.com/ganeshrvel/openmtp/pull/232

[2021-06-30 15:02] ganeshrvel commented on #230
closed

[2021-06-30 15:02] #230 closed

[2021-06-30 22:04] raveslave commented on #149
@ganeshrvel re: expandrive, yes, it was more as a reference on how things could look.
re macdroid, I checked the framework folder in their app and find libusb-1.0.dylib, so seems like the MTP itself is custom, couldn't see any fuse libs, don't macOS have a way of doing virtual filesystems natively nowadays?

[2021-07-01 20:51] ganeshrvel commented on #218
Please update to the latest version

cc: @lar232unrkniero @mikae1 @paulgurney @ronyeh

[2021-07-08 21:40] MarjaE2 opened #237 "A way to avoid the animation"
I can't navigate the app because there's too much animation. If I click on the menu button, an animated menu slides in from the left.

[2021-07-09 00:12] Idiotten opened #238 "Skip duplicate file."
When copying a bunch of files from one folder to another on Mac, the popup box will give you three option: Skip, Stop, or Keep Both. Using skips allows you to quickly back up files by just dragging a whole folder and skipping (checking the "use for all" box) ones you already backed up this way it only copies over new files that need to be saved.

OpenMTP doesn't seem to have an equivalent option,

[2021-07-09 19:02] MarjaE2 commented on #8
My Boyue Likebook P10 is not recognized in OpenMTP.

It was recognized in Android File Transfer, but Android File Transfer would try to start up every time I connected, so it would screw with screen-sharing software, with Calibre, etc. So I deleted it.

[2021-07-10 09:28] ashwaniii commented on #8
I formatted my disk, reinstalled macOS and it's working. I'm not sure what was the issue; but I can confirm that it's working on M1.

[2021-07-20 18:15] Lennox833 opened #239 "OpenMTP crashes when using macOS Monterey 12 Developer Beta 1"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [ ] Using yarn
- [ ] Using node 10.x
- [x] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [ ] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [ ] For i

[2021-07-21 16:50] Slooti commented on #238
I would very much appreciate this feature as well :) !

[2021-07-21 16:58] Slooti opened #240 "Make file listing asynchronous (for large folders)"
Hey hey

I have a folder with around 9000 pictures on my phone. Listing it takes quite a while without feedback to the user.

Whished behaviour:
* Speed up the listing
* Give the user some feedback on the progress, and possibly how long she has to wait (3 mins or 233 / 9000 Files).

Hey, great work dude, I really love your app and appreciate your time you've spent in it!

[2021-07-27 20:54] Slooti opened #241 "File Progress-Bar should "jump" to 0, not animate"
It's a small (but a bit irritating) bug. The upper progressbar (for the individual files) ANIMATES to 0, but it should jump. This looks a bit funny, like a rubber-gum bouncing back an forth. The correct behaviour would be, that after a file completes to 100%, the progress bar should make a hard jump to 0%.

cheers

[2021-07-28 14:57] chjan opened #242 "openmtp is great, but miss image thumbnails (mandatory!)"
Can you please consider adding thumbnails as default in the view of the mobile device? It is VERY hard to search&find the correct picture on the device, for transferral to a mac laptop, when all you get is a dated number of the photo.

Many thanks for your consideration!

[2021-07-28 15:45] fallingrock commented on #153
I'd love to see Garmin device support as well.
I'm not a go programmer (Java & RPG are my thing), but I'm happy to provide diagnostics & information as needed.

[2021-08-20 09:27] roofrack9 opened #243 "Group selection of large numbers of individual files"
Good morning,
I am using your OpenMTP and I made a donation and requested a group select option and you suggested I open an issue here.

By this I mean I was hoping it would emulate the behaviour of Mac OS Finder in that, when selecting files, if I want to select multiple files I can click the top one, then shift+click the bottom one and all files in between will be selected.  However from what I

[2021-08-20 16:42] anirudhsachdeva opened #244 "Its not working with my MacBook m1"
Can u pls check the compatibility?

[2021-08-20 16:43] anirudhsachdeva commented on #220
Not able to use on Mac air m1 and Samsung A50 coz device is not showing ...

[2021-08-21 15:17] resuna commented on #243
Me too! There's a standard for multi-select on the Mac and it'd be great if it was followed.

[2021-08-21 15:25] resuna commented on #227
A vote for not just sanitizing filenames, because that can lead to data loss. Properly encapsulating Unicode all the way through your internal file name handling can be a real pain, but it's worth it.

[2021-08-21 15:28] resuna commented on #242
Suggested workaround: transfer all the files and delete the ones you don't want, since it has to transfer the files to generate the thumbnails anyway. At least it shouldn't be the default because it would significantly slow down directory listings.

[2021-08-28 16:31] ganeshrvel opened #245 "Google Drive desktop app for macOS is interfering with OpenMTP"
[Google Drive desktop](https://support.google.com/drive/answer/7329379#zippy=%2Cdownload-install-google-drive-for-desktop) app for macOS is interfering with OpenMTP.

The Google Drive desktop app is currently in beta and it has been messing up with MTP operations.

Solution: Quit any instances of Googles Drive desktop or Backup and Sync from the menu bar.

[2021-09-12 23:14] m-roll opened #246 "crypto donation link in app"
hey - not sure if you have a bitcoin wallet or any other crypto wallet but I'd prefer to donate that way than via paypal/cc/etc - these are the only links I saw that were embedded in the app.

[2021-09-17 22:05] alecmuffett commented on #243
+1

[2021-09-21 00:59] fancymans commented on #244
Not a MacBook, but I can confirm OpenMTP working on Mac mini 2020 (Apple Silicon M1). Issue might have been resolved.

[2021-09-23 20:26] mbirth commented on #153
For a list of MTP devices, see https://github.com/libmtp/libmtp/blob/master/src/music-players.h .

[2021-09-25 14:21] raveslave commented on #149
talked to some mac devs that all recommended the File Provider API https://developer.apple.com/documentation/fileprovider as it doesn't rely on kernel extensions (.kext) and should be the way to expose 'virtual filesystems'

[2021-09-28 19:54] nicolas-raoul commented on #172
Having switched from Linux to Mac, I miss being able to drag a picture from my Android phone to any website's upload area.
Example in Gmail:
<img width="246" alt="dnd" src="https://user-images.githubusercontent.com/99590/135156492-6f978a05-fce8-402d-9a2a-aee8998f225b.png">

[2021-09-28 20:01] nicolas-raoul commented on #150
I know it is easier said than done, but if Electron is the limitation, how about migrating to a different GUI toolkit? :-)

[2021-10-02 12:25] bkmystim commented on #243
awesome software! but yes - my main missing thing is group/multiple selection of files.
if I want to copy 200 pictures, I have to select every one of them.
multiple file selection would be a major enhancement!

[2021-10-13 16:48] wtimme opened #248 "Let "Anonymous usage statistics gathering" be opt-in instead of opt-out"
## Background

I am using an Open Source tool for Android file transfer in order to avoid Google and the likes as much as possible. Since I am very conscious of my privacy, I run a local firewall. When I started openmtp, my firewall informed me that the app was attempting to connect to the following hosts:

- `google-analytics.com`
- `mixpanel.com`
- `sentry.com`

I understand that collecting metr

[2021-10-18 22:19] dzg opened #249 "Just a big blank window"
Installed via `brew` on macOS 10.15.7.

Launching just gives a giant empty window.

Running from Terminal:
[code]

[2021-10-29 19:23] jagdishadusumalli commented on #149
Thanks @ganeshrvel
I just tried [MacDroid 1.3](https://www.macdroid.app/) and tested it on macOS 11.6 Bigsur and RedmiNote7 pro (USBC)
The app is exactly how i would like it to look, work and flow but its buggy and crashes when i try to delete files from phone with weird errors. apart from that the data speeds were low as compared to OpenMTP.

My typical need/ workflow is to mount the phone's inte

[2021-11-04 08:42] bierlaster commented on #243
+1

[2021-11-15 07:13] bompelbob opened #250 "Keep file date when copying and remember used folders"
It would be great to keep the file creation date when copying files. I use Open MTP for copying files from my camera and I need the file dates to be correct.

And an option to remember the last used folders would be great!

[2021-11-15 22:11] ganeshrvel commented on #243
There is a check box available in the list view. Could you see if that works for you?

[2021-11-15 22:12] ganeshrvel commented on #242
@resuna is correct. Generating thumbnail isnt an easy task and will slow down the directory listing significantly.

[2021-11-15 22:14] ganeshrvel commented on #244
I personally dont have a M1 laptop but I have been waiting for one of my friends to help me build the files. It hasnt happened yet. Will try to do something about it soon

[2021-11-15 22:15] ganeshrvel commented on #250
The file creation date is already been set for the copied files. Could you download the latest release and check this again?

Cheers

[2021-11-15 22:16] ganeshrvel commented on #249
Please comment your Laptop model, config and OS version

[2021-11-15 22:17] ganeshrvel commented on #239
I am waiting for a public rollout of Monterey to release the latest update.

[2021-11-15 22:18] ganeshrvel commented on #237
Just curious, how is the animations causing issues for you?

[2021-11-15 22:21] ganeshrvel commented on #238
One of the main challenges here is, how do the app understand whether the previously copied file has completed or not?

If I use file names to compare and skip the files a partially copied file will be also skipped. I cannot use md5 to compare the file before copying, this is not possible on MTP.

Any thoughts on this?

[2021-11-15 22:23] ganeshrvel commented on #225
@mareking what phone are you using?

[2021-11-15 22:24] ganeshrvel commented on #246
Thanks for the suggestion. I shall add the wallet address the earliest possible.

Cheers.

[2021-11-15 22:30] Slooti commented on #238
I'd personally not go down a route with partially copied files. They only make sense if you can resume a half copied file. You could achieve this, by giving them a temporary name or file extension and renaming them, when they are copied fully.

Event if you want to go with partial files, giving them a temporary name might be a good option. Then you probably need checking on how many bits you have

[2021-11-15 22:42] MarjaE2 commented on #237
I don't remember which animations it uses. But a lot of types of animation can blind me, disorient me, trigger my migraines, and trigger nausea.

[2021-11-16 08:27] bierlaster commented on #243
Hi @ganeshrvel, it works, but not for my use case: I have a folder of 500 pictures and want to sync the latest 100. So either I manually select 100 files or select all and manually unselect 400 files...

[2021-11-16 08:45] chjan commented on #242
I accept that slowness because I would be granted strongly enhanced usability!

[2021-11-17 10:38] bompelbob commented on #250
Oh, you're right. Sorry. Don't know what went wrong - now it works! Thanks for your great work with this app!

[2021-11-17 12:15] ganeshrvel commented on #250
Great.. closing this

[2021-11-17 12:15] #250 closed

[2021-11-24 22:41] justinpenner commented on #245
The [new Google Drive app](https://support.google.com/drive/answer/7329379) (formerly two separate apps: Drive File Stream and Backup & Sync – I was using the latter) is out of beta and I switched over to it a few weeks ago. I'm not seeing any interference with OpenMTP, although I'm not sure exactly what bug to look for. I'm running Google Drive 53.0.8.0 (Intel).

[2021-12-04 14:20] JeremyH66 commented on #249
Same issue. MacBook Air (mid 2012) macOS Catalina 10.15.7 (19H1419)

[2021-12-06 18:12] dzg commented on #249
Not a laptop. iMac Pro (2017) macOS 10.15.7 as mentioned above

thanks

[2021-12-11 01:09] chunyunma commented on #8
I tried connecting a Samsung Note 8.0 (Android 4.1.2) to my Mac (big sur), also could not get recognized.
However, a Nexus (Android 4.4.4) works fine.

[2021-12-28 18:19] Isumairuu opened #251 "Samsung note 10+ not recognised"
Tried reconnecting but nothing happens, I opened the app and the window stays blank.

[2022-01-14 15:17] theLMGN commented on #184
3.1.15 doesn't work with the native MTP server of the Switch though sadly

[2022-02-01 11:47] sataset commented on #123
How do you cancel transfer then? No data will be corrupted if I will detach the cable?

[2022-02-07 05:25] githubjsorg commented on #249
Having the same issue. Initially the window is blank, then release announcements appears, then window blanks out again ([see screen recording](https://imgur.com/a/CbV9cA6)). Tried both .app downloaded from main page and brew install. Same issue.

System Info
10.15.7 (19H1713)
MacBook Pro (16-inch, 2019)

[2022-02-07 21:32] githubjsorg commented on #249
More testing found that the window didn't blank out until the phone was connected to USB. I was able to clear the "what's new" but as soon as I plugged in my android device, the window blanked out.

[2022-02-10 19:08] ganeshrvel commented on #220
Soon ;)

[2022-02-14 18:33] ganeshrvel commented on #220
Does anyone here knows how to cross compile a CGO application, which has a shared DYLIB, in Go?

[2022-02-17 15:22] ganeshrvel commented on #244
I will make a new release for the M1 next week. Let's see if that solves your issue?

[2022-02-17 19:47] githubjsorg commented on #249
Looks like this project has been abandoned.

[2022-02-17 19:50] ganeshrvel commented on #249
I will be making a release for the M1 MacBook in a couple of weeks. Let's see if that fixes this issue?

[2022-02-17 20:42] githubjsorg commented on #249
Yes. I have tried that too. Here is a screen recording.
https://imgur.com/1UMYy5J

[2022-02-19 18:43] ganeshrvel commented on #251
what laptop model is this?

[2022-02-19 20:00] Isumairuu commented on #251
MacBook pro-2019, it worked after an update (android & macos).

[2022-02-23 00:02] umara123 commented on #249
I'm getting this same issue after upgrading to MacOS **Monterey** on my intel MacBookPro 16-inch, 2019. The app is now unstable and unusable. This previously was not an issue for me with the same laptop on MacOS Big Sur.

[2022-02-24 20:27] ganeshrvel commented on #244
Update
--------
OpenMTP M1 alpha release.

Warning:
- This is an alpha release, things might break
- Although all the basic features should work fine, I have tested the 100% of existing features
- I haven't looked into the OpenMTP Auto App Update yet. I shall comment the URLs to the future beta and stable release builds below.

Feedback is appreciated

Download [OpenMTP-3.2.0-alpha.1-arm64](https:

[2022-02-24 20:28] ganeshrvel commented on #251
See if this version helps?
https://github.com/ganeshrvel/openmtp-testflight/blob/main/OpenMTP-3.2.0/OpenMTP-3.2.0-alpha.1-mac.zip

[2022-02-24 20:28] ganeshrvel commented on #249
See if this version helps?
https://github.com/ganeshrvel/openmtp-testflight/blob/main/OpenMTP-3.2.0/OpenMTP-3.2.0-alpha.1-mac.zip

[2022-02-24 20:30] ganeshrvel commented on #239
See if this version helps?
https://github.com/ganeshrvel/openmtp-testflight/blob/main/OpenMTP-3.2.0/OpenMTP-3.2.0-alpha.1-mac.zip

If you are looking for the M1 version check https://github.com/ganeshrvel/openmtp/issues/244#issuecomment-1050234082

[2022-02-24 20:30] ganeshrvel commented on #220
Update
--------
OpenMTP M1 alpha release.

Warning:
- This is an alpha release, things might break
- Although all the basic features should work fine, I have tested the 100% of existing features
- I haven't looked into the OpenMTP Auto App Update yet. I shall comment the URLs to the future beta and stable release builds below.

Feedback is appreciated

Download [OpenMTP-3.2.0-alpha.1-arm64](https:

[2022-02-24 20:59] githubjsorg commented on #249
That one just opens and immediately closes without even showing a window. And no, I did not have an android device connected. Crash report [https://pastebin.com/41rKgTYN](url)

[2022-02-24 21:59] tlueder commented on #220
Hi, I've just downloaded the M1 version and it seems to work fine.
However if you close the main window and then press cmd+q the app crashes while closing.

If you cmd+q the app while the main window is open the app exits just fine.

[2022-02-26 20:35] nadamdb commented on #220
Hi @ganeshrvel! First of all, thanks for making this awesome app (that I have yet to try out)! Secondly, unfortunately I run into an issue while trying to download the file:

Could you please host the binaries somewhere else/add more bandwidth to lfs? I guess too many people would love to use your app :)

[2022-02-27 07:46] bung87 opened #253 "macos catalina 10.15.7 (19H524) 3.1.15 not work, 3.0.0 works"
I downgrade from 3.1.15 to 3.0.0 then it works, I tried every release after 3.0.0 it does not show window at all.

[2022-02-27 07:50] ganeshrvel commented on #253
Could you share the screenshots or screen recording of the app after you try to open version 3.1.x?

[2022-02-27 08:24] bung87 commented on #253
it only has global menu bar, no window show up, even I click menu on dock "Show all windows"

[2022-02-27 14:36] lab-at-nohl commented on #214
Also, please consider to implement the key shortcuts like on the host system. If you have - after a holiday? - 1,000 photoas to copy, you definetly do not want to hit the arrow key this much. I would expect to select the first, hold shift and select the last...

Besides, the existence of openMTP is wonderful!

[2022-02-27 15:20] lab-at-nohl commented on #158
In finder it does. Click the first item, hold Shift and click a second, the items inbetween will be selected (range). Click first item, hold Cmd and click a second, the first and the second will be selected (multiple). Actually, I cannot us openMTP reasonably without - having 10,000 files, want to select around 800...

[2022-02-27 19:35] hn3000 commented on #220
To work around the traffic limit, I tried to compile it myself on an M1 mac.

I needed to add

[code]

to `package.json` (and remove the Sentry stuff because I don't have an organisation ID).

(I used the `feature/m1` branch.)

[2022-02-28 13:36] ganeshrvel commented on #220
I have updated the link.

thank you @hn3000 @nadamdb

[2022-02-28 13:51] ganeshrvel commented on #249
I am looking into this issue. It should be an electron issue. I will fix this ASAP.

[2022-03-05 12:47] zenminimalist opened #254 "Option to change to "Files as list view""
I love your app BTW! Best thing since sliced bread 😊

Currently one only has the icon list view when in openMTP.
![CleanShot 2022-03-05 at 13 45 00](https://user-images.githubusercontent.com/7798503/156883652-a0e4f581-3744-4d71-8032-3788f9b9f7b2.jpg)
 It would be nice to also have an additional list view within openMTP like almost every app has. Like so (example from Github):
![CleanShot 2022-03-0

[2022-03-06 11:16] escalinci commented on #45
This is my only issue with openmtp, in combination with the UI in my opinion being a bit too big. It doesn't remember the window size when last opened, and always takes up the largest amount of screen space possible. I downloaded the beta to see if this was also the behaviour in that version.

https://user-images.githubusercontent.com/10742076/156920542-b2585bae-73a8-4dd6-9452-e3dac850ddf6.mov

Te

[2022-03-13 04:58] githubjsorg commented on #249
Any update on this? Do you have another build I can try?

[2022-03-16 21:42] jonathandhn commented on #220
Great, even if at the first start it borks the whole macOS 12.3, stucking the each apps in dead stat until hard reboot, but it's connect the phone and remove awful delays on the UI.

[2022-03-20 17:08] ChaimHong commented on #238
I would very much appreciate this feature as well :) !

[2022-03-20 17:12] ChaimHong commented on #238
sorry，Cannot verify md5 of file before transfer？

[2022-04-03 20:12] daniel-zeng opened #256 "Copied timestamp does not copy timezone"
I copied a number of files from my Android (Huawei P40 Pro) to my mac (M1 Max 10/32), using the non-M1 version (3.1.15).

Upon inspecting the "Date Modified" fields,  it seems like the copied timestamp copies the correct time, missed out on the timezone.

For example, if I have `test.jpg` copied to mac,

`date -uR -r test.jpg` gives me:
Sat, 26 Dec 2020 04:32:37 +0000`

but what I expected was
Sat

[2022-04-18 19:30] githubjsorg commented on #249
Hi @ganeshrvel. Do you have a fix I can test?

[2022-04-30 20:31] T-Bone90 commented on #153
I have search for an alternative to Android File Transfer and found OpenMTP. But Unfortunately I need this for an Garmin Fenix 6.
Any News about adding support for Garmin Devices? :-)
Thanks in advance.

[2022-05-03 16:51] GuyZH opened #257 "The file with Emoji in the file name cannot be moved correctly to the Mac through OpenMTP."
As mentioned in Title, when using OpenMTP to move a file with an Emoji in the file name to a Mac, the Emoji in the file will be incorrectly converted to "��".
As shown in the figure below, the document with "��" in the file name is moved through OpenMTP. The document containing Emoji in the text (the Emoji in the picture is "🐟") is transferred from Android devices to USB disks through OTG and then

[2022-05-04 16:43] ganeshrvel commented on #243
Folks, i know there are a few backlogs here and lots of feature requests. I have a lot of things happening back at home and work.

Give me a few weeks so that I can get back into completing these features for you.

Cheers

[2022-05-04 18:02] chaehni commented on #243
Thanks. I appreciate it a lot!
This app is a real life saver.

[2022-05-06 06:54] wedebe commented on #254
I think this is the setting you need to change ;)

<img width="614" alt="" src="https://user-images.githubusercontent.com/9741693/167081842-f1a0b4f1-c70a-4065-a8a2-3c418264bdbc.png">

[2022-05-08 12:39] PhilipHoltzman opened #258 "Open MTP suddenly extremely slow in transfering files (Was very fast before)(MacM1)"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [x ] Using yarn
- [x ] Using node 10.x
- [x ] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [x ] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [x ]

[2022-05-10 13:52] niklasarnitz opened #259 "Support FujiFilm Camera MTP"
Fujifilm Cameras also use MTP as a transfer protocol.
Getting files of them without using a SD-Card reader is a huge pain in the a*s on macOS.

It would be awesome if openmtp would support them.

[2022-05-27 05:17] ganeshrvel commented on #258
What is the OpenMTP version you are facing this issue?

[2022-05-27 05:23] ganeshrvel commented on #253
@bung87 could you send me the log file

1. Open your Terminal and run the following code:

```zip -r -X ~/Desktop/OpenMTP-log.zip "$HOME/Library/Application Support/io.ganeshrvel.openmtp/logs/"```

2. Attach the file OpenMTP-log.zip found in your Desktop folder here.

Also could you install the other versions of the app from the Releases list and let me know what is the latest version that worked

[2022-05-27 05:25] ganeshrvel commented on #249
@githubjsorg could you send me the log file

1. Open your Terminal and run the following code:

```zip -r -X ~/Desktop/OpenMTP-log.zip "$HOME/Library/Application Support/io.ganeshrvel.openmtp/logs/"```

2. Attach the file OpenMTP-log.zip found in your Desktop folder here.

Also, could you install the other versions of the app from the Releases list and let me know what was the latest version that

[2022-05-27 05:27] ganeshrvel commented on #254
Closing this issue since we already have option for this.

[2022-05-27 05:27] #254 closed

[2022-05-27 05:27] ganeshrvel commented on #256
i shall look into this

[2022-05-27 05:28] ganeshrvel commented on #251
did the above version help you @Isumairuu ?

[2022-05-27 05:29] ganeshrvel commented on #240
I will look into this.

[2022-05-27 05:31] ganeshrvel commented on #257
😢 this is a complicated situation. OpenMTP kernel needs some rework to get this working

[2022-05-27 05:34] ganeshrvel commented on #259
unfortunately I dont have a `FujiFilm Camera` with me to test this.
Are you by any chance interested in taking a look at the OpenMTP kernel code, which is written in Go, so that we could add the support for `FujiFilm` camera.

[2022-05-27 05:35] ganeshrvel commented on #153
Unfortunately I dont have a `Garmin` with me to test this.
Would any of you be interested in taking a look at the OpenMTP kernel code, which is written in Go, so that we could add the support for `Garmin` devices.

[2022-05-27 05:37] ganeshrvel commented on #45
I will take a look at it.

[2022-05-27 07:47] #251 closed

[2022-05-27 09:32] daniel-zeng commented on #256
Thanks!

[2022-05-27 09:59] bung87 commented on #253
am now use Android file transfer, it's native app.

I try to help with this, but the log file under "$HOME/Library/Application Support/io.ganeshrvel.openmtp/logs/"  is empty.

[2022-05-28 00:51] githubjsorg commented on #253
Here is the log.
[OpenMTP-error-2022-02.log.zip](https://github.com/ganeshrvel/openmtp/files/8790191/OpenMTP-error-2022-02.log.zip)

[2022-05-28 19:54] githubjsorg commented on #253
That no longer works for me. It keeps failing to connect to the android device. That's why I was trying OMTP.
Course that isn't working for me either. But hoping I can help resolve that. Whereas AFT is no longer being developed.

[2022-05-28 21:00] githubjsorg commented on #253
Trying to run the latest release simply pops this error.
![image](https://user-images.githubusercontent.com/12621019/170842139-684ef6f9-4950-4d91-bb56-6cba15420480.png)

[2022-05-28 21:32] githubjsorg commented on #253
Augh. OK Turns out that was cause I was downloading the .zip copy. Silly Mac "security" won't let you run anything that wasn't loaded from a .dmg, or of course their store.

OK Latest release gives me this:
![image](https://user-images.githubusercontent.com/12621019/170843485-7235181d-1c91-4058-9ea7-b50e3d72502a.png)

[2022-05-28 22:12] githubjsorg commented on #253
Same error for all 3.X.X

[2022-05-28 22:14] githubjsorg commented on #253
2.4.4 Does not show this error notice but also does not work:

![image](https://user-images.githubusercontent.com/12621019/170844397-6f8c448f-ad04-4071-beb3-36107caa0c57.png)

[2022-06-02 14:29] ganeshrvel commented on #258
The M1 support is still in it's alpha stage and i am working on it.

You can find the alpha version of m1 here.

https://github.com/ganeshrvel/openmtp/issues/244#issuecomment-1050234082

[2022-06-03 13:53] gonhidi commented on #253
On my macOS 10.15.7 (19H1922, the 2022-05-16 build) OpenMTP 3.1.15 loads fine and is capable of browsing my Android phone's files.

[2022-06-07 01:21] slamble commented on #153
As I said in December 2020, I'm more than happy to have a look at this - but I have absolutely no idea where to start. How does the code decide to try to open a particular device? What functions, in which files, are likely to be key? I've looked through the code, but it's not clear to me (at least partially because I am not a Go programmer; I've worked with C, C++, Bourne shell, Korn shell, Python

[2022-06-08 10:57] mcheban commented on #153
what I found from [go-mtpfs sources](https://github.com/ganeshrvel/go-mtpfs) there's python script [munge.py](https://github.com/ganeshrvel/go-mtpfs/blob/master/mtp/munge.py) which parses [ptp.h](https://github.com/libmtp/libmtp/blob/master/src/ptp.h) and produces [const.go](https://github.com/ganeshrvel/go-mtpfs/blob/master/mtp/const.go) file with constants, and I didn't find any Garmin mentions

[2022-06-17 21:34] bogdangordin opened #262 "Device Unrecognized: An Error Occurred While Setting Up The Phone"
**Summery:**
Hey, I am receiving an error when trying to connect my phone. I follow through "Android device is either busy or not connect" instructions and none helped.

**Steps to produce bug:**

1. Plug in phone through USB-C
2. Open up OpenMTP

**Environment:**
- OpenMTP version 3.1.15
- MacBook Air (13-inch, Early 2014)
- Sierra 10.12.6
- Samsung Galaxy Note20 Ultra 5G
- Android version 12

**

[2022-06-21 17:47] jkrauze commented on #238
An option to "skip the file if the size is the same and it hasn't been modified on the phone since the last backup" will be enough for lots of the use cases.

If the local file size doesn't match or the file on the phone has been modified later than the local file, then copy the whole file again. This procedure easily covers new files, modified files, and unsuccessful transfers.

This is how `rsyn

[2022-06-22 06:57] slamble commented on #153
I tried to get a development environment up and running to try to figure this one out, but it ended up being too hard. The electron version that's set as a requirement is too old (there's no ARM64 version of it for macOS; I have a Mac Studio), and when I tried to figure out how to move past that, I ran into a slew of issues with trying to get things to build.

I'd love to help out, but I simply do

[2022-06-24 08:14] A2Sumie opened #263 "Any plan for an Windows version?"
I've grabbed my PC back and MTP in Windows Explorer just sucks. Large or lots of files cause nightmare.
I enjoyed openmtp on my mac so I wonder if this could ported to Windows?

[2022-06-25 22:09] ameeno commented on #263
Would love this, or atleast the Kalam MTP kernel for windows, current windows transfer over mtp is far slower than on my mac with openmtp :)

[2022-07-08 16:24] Meilenstein commented on #253
For me it works too on macOS 10.15.7
I got the same error once, but I closed Android File Transfer and it worked

[2022-07-14 07:26] landry314 commented on #258
i just downloaded the newest version myself and copying 7000 files from my pixel 5 to my mac was fast, very fast, but now i am trying to copy them back and it is INCREDIBLY slow. this will take days? what is happening?

<img width="578" alt="Screen Shot 2022-07-14 at 3 26 12 AM" src="https://user-images.githubusercontent.com/6866501/178926110-b7e571e2-d575-4852-beb8-eb1583c42528.png">

[2022-07-14 20:06] landry314 commented on #258
This project hasn't been updated in a year. The file transfer is not working right.

I just figured I would use the terminal with adb and it works so fast!

If anyone is reading this, to copy a folder to your android from a mac and PRESERVE DATES (which is so important when copying images or your gallery will be screwed up), turn on ADB (in developer options, "USB debugging") then open the termina

[2022-07-17 02:06] CodyJung commented on #153
Some progress:

The first problem is that Garmin devices are reporting an empty string descriptor for Manufacturer and Product. All three string descriptors are technically optional, so I _think_ this chunk of code in [go-mtpfs/mtp.go](https://github.com/ganeshrvel/go-mtpfs/blob/master/mtp/mtp.go) isn't quite right:
[code]

I've been able to get past that point by replacing that problem line with

[2022-07-18 12:48] ganeshrvel commented on #263
I have been thinking about a windows version. It is in the pipeline
 :)

[2022-07-18 12:49] ganeshrvel commented on #262
If you keep getting the error
1) try disabling the hotplug detection from settings in OpenMTP.
2) make sure that you have enabled file transfer and accepted "enable mtp data access" on your Samsung phone

[2022-07-18 12:52] ganeshrvel commented on #258
Folks,
I am reading your comments. My work has been keeping me busy and now I am looking for a new one. The apple silicone support is almost there, I need to figure out a few things. Let me assure you that the project isn't dead and hopefully there will be a new pre-release pretty soon.

Regards

[2022-07-18 15:26] A2Sumie commented on #263
Delighted to hear that!

[2022-07-22 16:15] trevordunn opened #264 "Add folder to Favorites"
I'm on macOS version 3.1.15 (3.1.15) and don't see a way to add a folder to the Favorites menu. The right-click menu doesn't have any options, nor do any type of star button show up when I check a folder.

[2022-07-23 21:06] CodyJung commented on #153
Great news -
![image](https://user-images.githubusercontent.com/484512/180622384-0d5d293c-c0fc-4561-8f5e-136ef64dc6d5.png)

The issue with the bulk transfer was because Garmin devices follow this method of transfer (from the MTP spec v1.1):
![image](https://user-images.githubusercontent.com/484512/180622474-6c4ce9d5-73df-4735-b3a4-b38b4220c153.png)

`mtp.go` anticipates that case correctly; during

[2022-07-24 01:09] CodyJung commented on #153
I've put up a pull request in ganeshrvel/go-mtpfs -- if anyone else wants to pull down that repo and build+test I'd appreciate it. This is my first time writing Go code so it's probably rough. :)

[2022-07-24 01:13] ganeshrvel commented on #153
Thanks @CodyJung I have been following the developments. Let me take a look at it. If the test passes I will release it along with apple silicone support.

[2022-07-26 02:38] CodyJung commented on #259
@ganeshrvel  - I actually have a FujiFilm camera! The problem is it is returning a `InterfaceStringIndex` of 0. You can check against `fujifilm.co.jp` in mtp.go if you want to add an MTPExtension check like the existing check for `microsoft/WindowsPhone`. I can also put up a PR in the next day or two if you'd prefer.

[2022-07-26 02:40] ganeshrvel commented on #259
That's awesome. You are a star contributor @CodyJung ! 😃

[2022-07-26 09:55] Universal-Igloo commented on #220
Hey @ganeshrvel :) Thank you for your work on this!

Any update on when/if we can expect an arm binary as part of the regular release cycle?

[2022-07-26 10:06] ganeshrvel commented on #220
I am making some final pushes to the m1 branch. Hopefully this week I will be able to make a beta release

[2022-07-26 14:20] ganeshrvel commented on #258
Folks, I am trying to figure this issue out. I will make the beta release for Apple silicone soon and hopefully this should get sorted as well.

1) What OpenMTP, Android and macOS are you people on?
2) Please download these OpenMTP versions and let me know whether the file transfer speed is slow on all of them
  a) [OpenMTP-3.1.0.dmg](https://github.com/ganeshrvel/openmtp/releases/download/v3.1.0/

[2022-07-26 14:21] ganeshrvel commented on #253
Folks, I am trying to figure this issue out. I will make the beta release for Apple silicone soon and hopefully this should get sorted as well.

1) What OpenMTP, Android and macOS are you people on?

[2022-07-26 14:25] ganeshrvel commented on #258
@landry314 I am aware of the Dates and the other metadata preservation issue. I am looking into it as well.

[2022-07-26 14:25] ganeshrvel commented on #253
Folks, I am trying to figure this issue out. I will make the beta release for Apple silicone soon and hopefully this should get sorted as well.

1) What OpenMTP, Android and macOS are you people on?
2) Does "quitting" Google's Android File transfer help?

@Meilenstein @gonhidi @githubjsorg @bung87

[2022-07-26 14:26] ganeshrvel commented on #259
@CodyJung any updates?

[2022-07-26 14:26] ganeshrvel commented on #256
@daniel-zeng I am aware of the Dates and the other metadata preservation issue. I am looking into it as well.

[2022-07-26 14:27] ganeshrvel commented on #226
This feature is much needed. I will implement it in 3.3.0

[2022-07-26 14:53] landry314 commented on #258
the date problem is also in android file manager which is why i need to use push for most folders. quite surprised google coded mtp so badly.

[2022-07-26 15:51] githubjsorg commented on #253
As per your request above, I have tried all versions back to 2.4.4.
Android version 12
macOS Catalina

I haven't had this installed in a long time as it stopped working years ago.

[2022-07-26 19:29] bogdangordin commented on #262
Still receiving the error with with USB Hotplug disabled and I do have transferring accepted
![Screenshot_20220726-122509_Settings](https://user-images.githubusercontent.com/34013596/181095315-22155f9b-da73-483e-a5ec-89db490e3032.png)
![Screenshot_20220726-122521_Settings](https://user-images.githubusercontent.com/34013596/181095331-324d4a1c-1d42-4975-92e0-2a0e7579bcc1.png)
![Screen Shot 2022-07-2

[2022-08-01 14:23] gagomes commented on #243
@ganeshrvel  Any updates? Thanks :-)

[2022-08-02 07:45] nachocab opened #265 "Can't drag and drop inside phone"
**Prerequisites**

If the following boxes are not ALL checked, your issue is likely to be closed.

- [x] Using yarn
- [x] Using node 10.x
- [x] Using an up-to-date [`master` branch](https://github.com/ganeshrvel/openmtp/tree/master)
- [x] Using latest version of devtools. See [wiki for howto update](https://github.com/electron-react-boilerplate/electron-react-boilerplate/wiki/DevTools)
- [x] For i

[2022-08-05 14:46] messyj232 opened #266 "Pixel 3"
Won't connect to Pixel 3!

[2022-08-14 01:14] ganeshrvel commented on #220
# OpenMTP-v3.2.0-alpha.3 is a nightly build.
This release features optimizations, bug fixes and performance improvements.

Warning:
- This is an alpha release, things might break
- Although all the basic features should work fine, I have not tested all the existing features yet
- I haven't looked into the OpenMTP Auto App Update yet. I shall comment the URLs to the future beta and stable release b

[2022-08-14 16:31] rakleed opened #267 "Update app icon for macOS according to Big Sur specifications"
Could you please update the app icon for macOS according to Big Sur specifications?

More: https://developer.apple.com/design/human-interface-guidelines/foundations/app-icons#platform-considerations

[2022-08-17 23:19] bednarikjan commented on #243
+1 for this feature, it would make life much easier

Otherwise, awesome piece of software!

[2022-09-04 02:59] jeff9cloud opened #269 "Cannot connect MTP to my Vivo 1901 phone"
I have followed every instruction and spent hours attempting to connect my Vivo 1901 to my mac with no luck.

When I plug in my android there is no message that says "USB charging" to click on.

I have been through every setting from USB debugging and every option in system management.

I would be HAPPY to donate if someone can help me figure this issue out. 🙏

[2022-09-08 04:29] jeff9cloud commented on #269
<img width="580" alt="image" src="https://user-images.githubusercontent.com/60601462/188295162-121a76c5-049a-4e12-b774-adaab2e21392.png">
<img width="580" alt="Screen Shot 2022-09-04 at 10 01 40 AM" src="https://user-images.githubusercontent.com/60601462/188295172-cf495c04-a851-4522-8f1b-6ab1cded58fe.png">

[2022-09-08 04:30] jeff9cloud commented on #269
Is this forum active anymore?

[2022-09-10 10:07] eon-pixel commented on #269
You could try out the latest test flight builds found here: https://github.com/ganeshrvel/openmtp-testflight/tags

[2022-09-16 14:04] lrk commented on #153
Hello everyone.

Any news or ETA for a garmin devices support ?

[2022-09-17 10:25] jeff9cloud commented on #269
Thanks for the response, I truly appreciate it as I know your time is
valuable.

However you sent me a link to a page with no instructions of HOW or which
one of the updates to use or install?...... I'm not a programmer, but I can
follow directions.

Is there a video or a step by step instruction of how to try and get this
app working with my Vivo 1901 android?

Like I said before, I'm happy to do

[2022-09-18 10:11] eon-pixel commented on #269
@jeff9cloud

Hi Jeff,

Here's a link to the latest test flight build of OpenMTP (what I was supposed to send you originally).

[https://github.com/ganeshrvel/openmtp-testflight/releases/download/v3.2.0-alpha.5/openmtp-3.2.0-alpha.5-mac-arm64.dmg](url)

Simply open the .dmg file, drag the application to the Applications folder, and launch it from Launchpad.

[2022-10-06 14:04] daniel-zeng commented on #256
Appreciate the efforts!

[2022-10-10 23:57] ganeshrvel commented on #256
For those who need a quick patch for their videos/images transferred to macbook via OpenMTP, you may run this script.

It will read the exif information of images or videos and update the creation and modification date/time of those file.

This should fix the wrongly sorted (by date) of images and videos in your file manager or the photos app.

### WARNING: BACKUP your files before running this sc

[2022-10-10 23:58] ganeshrvel commented on #218
For those who need a quick patch to correct the creation and modification date/time for their videos/images transferred to macbook via OpenMTP, you may run this script.

It will read the exif information of images or videos and update the creation and modification date/time of those file.

This should fix the wrongly sorted (by date) of images and videos in your file manager or the photos app.

##

[2022-10-11 00:06] daniel-zeng commented on #256
Great, thanks for the update! Looking forward to seeing this reflected in the main app, and thanks for your efforts 🥂

[2022-10-14 10:29] UnnamedHero commented on #243
+1

[2022-10-21 05:46] dancnfoo commented on #220
Just to provide data point. 3.2.0-alpha.5 still isn't working for my M1 2020, tested with Samsung Note 9.

[2022-10-21 19:55] den3y opened #270 "Samsung Galaxy S20+ is not recognized"
Hi there,

I tried to connect my Samsung Galaxy S20+ running on Android 12 to my MacBook Pro running macOS 12.6 using openmtp-3.2.0-alpha.5-mac-x64.dmg. Unfortunately the smartphone is not recognized, the right side of openMTP is showing me the FAQs on how to connect. I tried using the Kalam mode as well as the legacy mode.

Any help is appreciated.

Best regards,
Dennis

[2022-10-26 06:54] ganeshrvel commented on #262
Do you have Google drive installed in your macos? If yes try to quit it "completely" and then try again. if not Google drive,check Dropbox or OneDrive. Some applications will lock on to the usb port once it detects a usb drive. See if any active app could be causing this issue?

Let me know?

[2022-10-26 06:54] ganeshrvel commented on #269
Do you have Google drive installed in your macos? If yes try to quit it "completely" and then try again. if not Google drive,check Dropbox or OneDrive. Some applications will lock on to the usb port once it detects a usb drive. See if any active app could be causing this issue?

Let me know?

[2022-10-26 06:54] ganeshrvel commented on #266
Do you have Google drive installed in your macos? If yes try to quit it "completely" and then try again. if not Google drive,check Dropbox or OneDrive. Some applications will lock on to the usb port once it detects a usb drive. See if any active app could be causing this issue?

Let me know?

[2022-10-27 19:31] hungchieu opened #271 "Crash with MacOS Ventura + Z Fold 3"
Not sure it works on MacOS Ventura with other phones or not? But I'm facing OpenMTP Helper crashing with Samsung Z Fold 3 + MacOS Ventura.

[2022-10-27 19:38] hungchieu commented on #271
[OpenMTP-log.zip](https://github.com/ganeshrvel/openmtp/files/9882647/OpenMTP-log.zip)
Here is the log file.

[2022-10-29 11:10] DGatere commented on #220
3.2.0-alpha.5 works great on a Oneplus 6T and 9 Pro, haven't had any issues so far, tested with several cables

[2022-10-29 11:41] ganeshrvel commented on #220
Could try these?

- Do you have Google drive installed in your macos? If yes try to quit it "completely" and then try again. If not Google drive,check Dropbox or OneDrive. Some applications will lock on to the usb port once it detects a usb drive. See if any of the active app requires usb access, that might could be causing this issue.
- Try disabling the hotplug detection from settings in OpenMTP

[2022-10-29 17:19] alecmuffett commented on #243
This feature already exists but it is rather unintuitive.

I wrote up my experience at https://alecmuffett.com/article/15274

[2022-10-30 05:52] somsak commented on #271
Same here! My phone is Samsung Galaxy Z Fold 4, though.

OpenMTP version: 3.1.15 (3.1.15)
MacOS version: 13.0 (Ventura) on Macbook Air M1 (2020)

Android version: 12

I already tried changing "Allow accessories to connect" under "Privacy & Security" to either "Automatically When Unlocked" and Always, but still not working.

BTW how can I get the log file? The "Report a bug" menu also show error ab

[2022-10-30 21:26] neospeed83 commented on #220
I found out on my M1 max and Pixel XL that turning the MTP mode to Legacy makes the app work perfectly. In Kalam mode, It took 13 minutes to copy 28 MB of photos and videos. Legacy mode was blazing fast under a minute.

[2022-10-31 16:39] Githerazi commented on #271
Think it is a Ventura issue, openmtp not working for me on ventura with a Pixel3a xl running LineageOS. Android File Transfer not working either...

[2022-11-01 02:09] ganeshrvel commented on #271
Could try these?

 1) Reboot your Mac (IMPORTANT)

 2) Do you have Google drive installed in your macos? If yes try to quit it "completely" and then try again. if not Google drive,check Dropbox or OneDrive. Some applications will lock on to the usb port once it detects a usb drive. See if any of the active app requires usb access, that might could be causing this issue.

 3) try disabling the hotp

[2022-11-01 03:43] somsak commented on #271
Stopping Dropbox did the trick!.

I wonder why this didn't happen before Ventura released?

[2022-11-01 05:00] ganeshrvel commented on #266
Could try these?

1) Reboot your Mac (IMPORTANT). Simply restarting the machine has helped many.

2) Do you have Google drive installed on your MacBook? If yes, try to quit it "completely" and then try launching openmtp again. See if Dropbox or OneDrive is installed and quit them completely. Some applications will lock on to the usb port once it detects a usb drive. See if any of the active apps r

[2022-11-01 19:16] den3y commented on #270
Hi @ganeshrvel,

finally I made it work. The problem were five drivers that were installed by Samsungs SmartSwitch that were active in the background and thus caused OpenMTP to not be able to work properly. In my case SmartSwitch was uninstalled but the drivers were still active.

To uninstall the drivers SmartSwitch needs to be installed (in re-installed it as I removed the app but the drivers we

[2022-11-01 20:14] ganeshrvel commented on #153
OpenMTP-3.2.0-beta.1 is out 🔥🔥

Note: This a pre-release version and the app might be unstable. ⚠️

### Features
- Much awaited Apple Silicone support 🔥🔥
- Garmin device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/1) by [@CodyJung](https://github.com/CodyJung "CodyJung")
- Fujifilm device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/2) by [@CodyJung](https://github.com

[2022-11-01 20:20] ganeshrvel commented on #259
OpenMTP-3.2.0-beta.1 is out 🔥🔥

Note: This a pre-release version and the app might be unstable. ⚠️

### Features
- Much awaited Apple Silicone support 🔥🔥
- Garmin device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/1) by [@CodyJung](https://github.com/CodyJung "CodyJung")
- Fujifilm device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/2) by [@CodyJung](https://github.com

[2022-11-01 20:24] ganeshrvel commented on #153
cc: @wadewegner @miharekar @slamble @fulmar2 @fallingrock @mbirth @T-Bone90 @mcheban @lrk

Please download the DMG from the appropriate URL and do let me know if the app reads your device.

[2022-11-01 20:25] ganeshrvel commented on #220
OpenMTP-3.2.0-beta.1 is out 🔥🔥

Note: This a pre-release version and the app might be unstable. ⚠️

### Features
- Much awaited Apple Silicone support 🔥🔥
- Garmin device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/1) by [@CodyJung](https://github.com/CodyJung "CodyJung")
- Fujifilm device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/2) by [@CodyJung](https://github.com

[2022-11-01 20:25] ganeshrvel commented on #244
OpenMTP-3.2.0-beta.1 is out 🔥🔥

Note: This a pre-release version and the app might be unstable. ⚠️

### Features
- Much awaited Apple Silicone support 🔥🔥
- Garmin device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/1) by [@CodyJung](https://github.com/CodyJung "CodyJung")
- Fujifilm device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/2) by [@CodyJung](https://github.com

[2022-11-01 20:25] ganeshrvel commented on #239
OpenMTP-3.2.0-beta.1 is out 🔥🔥

Note: This a pre-release version and the app might be unstable. ⚠️

### Features
- Much awaited Apple Silicone support 🔥🔥
- Garmin device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/1) by [@CodyJung](https://github.com/CodyJung "CodyJung")
- Fujifilm device support - [PR](https://github.com/ganeshrvel/go-mtpfs/pull/2) by [@CodyJung](https://github.com

[2022-11-01 20:30] ganeshrvel commented on #245
@justinpenner I am getting more reports that Google drive and Dropbox apps are interfering with the OpenMTP's USB read access. Completely quitting these apps fixes this issue.

[2022-11-01 21:49] slamble commented on #153
I've just tried to use the 3.2.0-beta1 ARM64 release on my Mac Studio to connect to my Garmin Fenix 7s. Unfortunately, it didn't work. I then tried the Intel release (using Rosetta), without success.

The next step was to purge all copies of Android File Transfer and kill its helper app. No change.

I have an old Fenix 6s lying around - it needs to charge up a bit before it'll do anything, but I'l

[2022-11-01 21:52] slamble commented on #153
No success with the 6s. One thing that I did observe: when changing from Kalam to Legacy mode, I receive the error message, "Oops.. Your Phone has gone crazy! Try again."

I'll submit the error logs now.

[2022-11-01 21:55] mcheban commented on #153
same with my Fenix 6S 😞
I used [openmtp-3.2.0-beta.1-mac-arm64.dmg](https://github.com/ganeshrvel/openmtp/releases/download/v3.2.0-beta.1/openmtp-3.2.0-beta.1-mac-arm64.dmg) for my Apple Silicone Macbook (macOS Monterey 12.6.1)

[2022-11-01 21:58] slamble commented on #153
Also - the link to the download for the Intel version points to the ARM version. Going to https://github.com/ganeshrvel/openmtp/releases/tag/v3.2.0-beta.1 lets the user download the right version, though (https://github.com/ganeshrvel/openmtp/releases/download/v3.2.0-beta.1/openmtp-3.2.0-beta.1-mac-x64.dmg is the correct link for Intel Macs.)

[2022-11-01 22:13] CodyJung commented on #153
Thanks all!

@ganeshrvel I’ll take a look tonight and see what I can figure out.

[2022-11-02 14:49] hungchieu commented on #271
I don't have dropbox. I have onedrive. Disabled onedrive still not working.

[2022-11-02 14:51] hungchieu commented on #271
Hi,
I've follow your instruction. Disabled hotplug and then the app won't crash. However, it still did not detect the phone. I've already tried "Transferring files" and "Transferring images" modes, in both Kalam mode and legacy mode.
I know Ventura is the problem. There are already report that Android File Transfer is not working since Ventura beta.

[2022-11-02 14:59] hungchieu commented on #271
Good news. It works.
I don't have Samsung SmartSwitch.
Currently is on Kalam mode, USB hotplug disabled, phone selected "Transferring files".
Each refresh will make the phone prompt for allow accessing files. I choose "Allow", after several attempts, it works.

[2022-11-04 03:42] CodyJung commented on #153
Ok, so I _think_ I've identified the issue and have a PR up in go-mtpfs to fix it. The gritty details are available on the PR linked above.

I've been able to use mtpfs directly to mount the filesystem and read/write to it (I did need to update go-fuse to 2.1.0 and sys to 0.1.0 though):
<img width="682" alt="Screen Shot 2022-11-03 at 10 16 31 PM" src="https://user-images.githubusercontent.com/4845

[2022-11-04 03:44] ganeshrvel commented on #153
Thank you for this. Let me take a look at it.

Thanks @CodyJung

[2022-11-04 09:36] ganeshrvel commented on #153
- You need to checkout the `release/m1` branch to get this script working, it takes care of both intel and m1 builds (https://github.com/ganeshrvel/openmtp/tree/feature/m1). The [release/m1](https://github.com/ganeshrvel/openmtp/tree/feature/m1) branch has many improvements in the build setup while the master requires some workaround to get the mtpx compile.
- Follow [go-mtpx instructions](https:/

[2022-11-04 09:41] ganeshrvel commented on #153
OpenMTP-3.2.0-beta.2 is out 🔥🔥

Note: This a pre-release version and the app might be unstable. ⚠️

### Changelog
- Garmin device support patches - https://github.com/ganeshrvel/go-mtpfs/commit/0d40588840c526d36406e568c2e81394a4fc8b65

Thanks @CodyJung for the the patch https://github.com/ganeshrvel/go-mtpfs/pull/4 🔥🔥

### Download

macOS Apple Silicone (arm64): [https://github.com/ganeshrvel/open

[2022-11-04 11:43] T-Bone90 commented on #153
Thanks for your great work!
But I can't connect to my Fenix 6 Sapphire. The right window is empty.

[2022-11-04 12:33] CodyJung commented on #153
@T-Bone90  Thanks for checking!
@ganeshrvel I think that’s what I’ve been doing. 😕 I’ll keep digging, though it would help a lot if I had access to the MTP Debug messages from the kernel. Is there a good way to get those printed somewhere? It seems like even if they are forced on in mtpx they don’t print when used as a dylib in openmtp.

[2022-11-04 12:52] ganeshrvel commented on #153
@CodyJung could you post screenshots or a video recording of the error/logs that you are getting while trying to start OpenMTP in dev mode?

or you could email me on ganeshrvel@outlook.com . Let's schedule a Google meet/zoom call and I shall help you with the OpenMTP dev setup.

[2022-11-04 12:56] ganeshrvel commented on #153
@T-Bone90

Could try these?

1) Reboot your Mac (IMPORTANT). Simply restarting the machine has helped many.

2) Do you have Google drive installed on your MacBook? If yes, try to quit it "completely" and then try launching openmtp again. See if Dropbox or OneDrive is installed, quit them completely. Some applications will lock on to the usb port once it detects a usb drive. See if any of the activ

[2022-11-04 13:07] CodyJung commented on #153
I'm able to get it running; just no luck with actually printing out MTP traffic:
<img width="1038" alt="Screen Shot 2022-11-04 at 8 05 55 AM" src="https://user-images.githubusercontent.com/484512/199979598-885678d6-2c54-4522-9ff4-f77bba67844e.png">

[2022-11-04 13:21] ganeshrvel commented on #153
Try running any of these executable inside OpenMTP's build directory, this prints out some basic device information.

[code]

- Edit `openmtp/ffi/kalam/native/kalam_debug_report/main.go` and you could print the information that you need. You could call the Upload/Download/Walk/Delete or any other methods that are available in go-mtpx. Refer to `*_test.go` files in https://github.com/ganeshrvel/go-

[2022-11-05 00:51] CodyJung commented on #153
@ganeshrvel Perfect! Thank you!

Got 'em:
<img width="1437" alt="Screen Shot 2022-11-04 at 7 49 02 PM" src="https://user-images.githubusercontent.com/484512/200093617-e37d432e-4060-4b88-bbd5-0550998c39f0.png">

PR incoming.

[2022-11-05 04:23] ganeshrvel commented on #153
Awesome work @CodyJung 🎉🎉

[2022-11-05 06:28] ganeshrvel commented on #153
# About OpenMTP-3.2.0-beta.3 🔥🔥

Note: This a pre-release version and it might be unstable. ⚠️

### Changelog
- Garmin device should work fine now - https://github.com/ganeshrvel/go-mtpfs/pull/5

Thanks @CodyJung for the the patch https://github.com/ganeshrvel/go-mtpfs/pull/5 🔥🔥

### Download

- macOS Apple Silicone (arm64): [https://github.com/ganeshrvel/openmtp/releases/download/v3.2.0-beta.3/op

[2022-11-05 06:29] ganeshrvel commented on #153
cc: @slamble  @T-Bone90

Please download the DMG from the above comment and do let me know if the app reads your device.

[2022-11-05 09:46] T-Bone90 commented on #153
Thanks a lot for this incredible work!
My Fenix 6 sapphire works now in Kalam Mode with the new Beta 3.

PS.: It is possible to make the Openmtp Icon on Mac more angular to match the shape of the new macos icons? :-)

[2022-11-05 11:09] ganeshrvel commented on #259
Please download the latest beta version of openmtp and do let me know if Fujifilm camera works.

- macOS Apple Silicone (arm64): [https://github.com/ganeshrvel/openmtp/releases/download/v3.2.0-beta.3/openmtp-3.2.0-beta.3-mac-arm64.dmg](https://github.com/ganeshrvel/openmtp/releases/download/v3.2.0-beta.3/openmtp-3.2.0-beta.3-mac-arm64.dmg)
- macOS Intel (x64): [https://github.com/ganeshrvel/openmt

[2022-11-05 21:15] CodyJung commented on #259
Seems to work with my X-E3:
<img width="933" alt="Screen Shot 2022-11-05 at 4 14 22 PM" src="https://user-images.githubusercontent.com/484512/200141610-8d68c612-f573-487a-ac1e-f6025637c8ee.png">

[2022-11-05 21:19] CodyJung commented on #259
I will say that it can take a while to enumerate all the files in the folder, so some sort of progress indicator (or even a busy spinner) could be helpful. That's a separate ticket though. 😃

[2022-11-06 04:45] slamble commented on #153
Beta 3 is confirmed functional (at least to the point of seeing the device and the directory structure) on my M1-class Mac with both a Fenix 6s and a Fenix 7s. Thank you so much - it's fantastic to finally be able to get rid of that piece of junk known as Android File Transfer. I'll update if I find any issues with transferring files on or off the device, but I do not expect that to be the case.

[2022-11-06 05:23] ganeshrvel commented on #153
It's best to uninstall android file transfer. At times an active aft helper causes kernel panic. The aft helper doesn't get killed that easily, always.

Latest Google drive and dropbox are notoriously known to interfere with OpenMTP's functioning. Completely quit both apps.

Also uninstall Samsung SmartSwitch if you have installed them on macos.

https://github.com/ganeshrvel/openmtp/issues/270#is

[2022-11-06 05:25] ganeshrvel commented on #153
If anyone owns a Zune, do check if it works.

Thanks!

[2022-11-06 05:31] ganeshrvel commented on #265
Move is not supported yet

[2022-11-06 09:31] slamble opened #273 "Allow changing of the view type"
At the moment, OpenMTP presents both the device and the local filesystem as a grid of icons. This presents issues for me when transferring data off my Garmin watch (thanks again for this, by the way). The activity files are named according to a timestamp: YYYY-MM-DD-HH-MM-SS.fit. (Year-month-day-hour-minute-second). The grid of icons truncates this, so all I can really see is the year, the month,

[2022-11-06 09:33] ganeshrvel commented on #273
There is already a list view. Setting > disable grid view

[2022-11-06 09:53] slamble commented on #184
Not working with a stock Nintendo firmware on 3.2.0-beta.3. The Switch says it's connected to the computer; as soon as I tell OpenMTP to refresh the MTP side of the app, the Switch says it's been disconnected.

I've just emailed the logs through.

[2022-11-06 19:56] adrianbj commented on #270
I have an s20 and keep getting the "My Phone is Not Connecting" error. I've properly uninstalled SmartSwitch (and it's drivers) and everything has been rebooted multiple times and the USB settings are set fir Transferring Files / Android Auto. I don't have the "Transferring media files" option shown in the FAQ.

I can't think of anything else. Anyone?

PS, I am running Ventura in case maybe that's

[2022-11-06 21:15] slamble commented on #273
Not sure how I missed that. Settings -> file manager -> view as grid. My bad.

[2022-11-06 21:15] #273 closed

[2022-11-07 01:18] ganeshrvel commented on #270
Please uninstall any sync app and it's helpers before using openmtp. Restart the os, reconnect and tap on refresh.

[2022-11-07 20:13] githubjsorg commented on #253
I was finally able to resolve my issue. It was still a conflict with orphaned Kexts from Samsung when I was trying to use their software to replace Android File Transfer.

I found them using:
kextfind -s -b "Samsung"

And unloaded them in a su shell using:
kextunload -b com.devguru.driver.SamsungACMControl
kextunload -b com.devguru.driver.SamsungMTP
kextunload -b com.devguru.driver.SamsungComposit

[2022-11-08 04:32] CodyJung commented on #45
I did a little research here and I see why it's opening maximized (calling `mainWindow.maximize()` will do that), but it seems like Electron apps won't preserve their window position without quite a bit of work.

I attempted to put something together for that, but I don't understand settings.js well enough yet to know how to persist and restore settings. And as some other developers on the Interne

[2022-11-08 05:08] ganeshrvel commented on #45
The reason I havent removed maximize() by default is that on a smaller screen the file names gets crushed down (on list view) and few other reasons.

What we could here is to write back window dimensions to the settings.json file on a resize event and later when they open the app preset the window size (fetch it from settings.json if it is set).

[2022-11-08 06:26] bren-m commented on #270
This worked for me straight away:

https://support.google.com/android/thread/187133401?hl=en&msgid=187524996

Quit Preview before opening OpenMTP

[2022-11-08 21:53] adrianbj commented on #270
Thanks @bren-m - quitting Preview worked for me (no need to restart my machine).

Not sure why Apple is making this so hard :)

[2022-11-13 20:16] ganeshrvel opened #276 "Just a blank screen or MTP device is not recognized"
Follow these steps:

1. Reboot your Mac (IMPORTANT). Simply restarting the machine has helped many.
2. If you are on macOs Ventura, try quitting the Preview app. Read here: https://github.com/ganeshrvel/openmtp/issues/270#issuecomment-1306698794
3. If you have any of these apps installed on your mac, quit them "completely" and relaunch OpenMTP
     - Google drive ([GitHub Issue](https://github.com

[2022-11-13 22:13] ganeshrvel commented on #220
OpenMTP v3.2.0 supports Apple silicon native support: https://github.com/ganeshrvel/openmtp/releases/tag/v3.2.0

Closing this issue.

Thanks everyone!

[2022-11-13 22:13] #220 closed

[2022-11-13 22:14] ganeshrvel commented on #259
@CodyJung yes. I could add a separate ticket for the same.

[2022-11-13 22:15] ganeshrvel commented on #259
OpenMTP v3.2.0 supports Fujifilm devices: https://github.com/ganeshrvel/openmtp/releases/tag/v3.2.0

Closing this issue.

Thank you!

[2022-11-13 22:15] #259 closed

[2022-11-13 22:15] ganeshrvel commented on #153
OpenMTP v3.2.0 supports Garmin devices: https://github.com/ganeshrvel/openmtp/releases/tag/v3.2.0

Closing this issue.

Thank you all!

[2022-11-13 22:15] #153 closed

[2022-11-14 06:04] DGatere opened #290 "Blank screen when transferring large files"
I've been having a strange problem where large file transfers (20GB with each file about 2GB) begin normally but after some time a blank OpenMTP screen appears and its not clear if the transfer is proceeding due to zero visual feedback indicating as much. Attached a log of the issue and a screenshot of how it appears on my device. The progress bar on the app in the dock freezes as well. This is on

[2022-11-15 04:59] ganeshrvel commented on #290
Do check this out? https://github.com/ganeshrvel/openmtp/issues/276

[2022-11-15 09:04] 5TFN opened #292 "Crash on Catalina/Intel with 3.2.0 Release"
After installing release version 3.2.0 the app crashes during start.
If I pull a log from OpenMTP via the terminal command it states only logs from the prior version 3.1.15.
Reinstalling 3.1.15 does not help since the update is enforced again.

The system log states:

[code]

and

[code]

and

[code]

and

[code]

[2022-11-15 09:07] ganeshrvel commented on #292
Thanks for the report. Momentarily what you could do is to download the version 3.1.5 from GitHub releases and install the app.

Later disable the internet and open the application.

Turn off the auto updater from settings of openmtp.

This should prevent auto update.

Regards,
Ganesh Rathinavel
________________________________
From: 5TFN ***@***.***>
Sent: Tuesday, November 15, 2022 2:34:49 PM
To

[2022-11-18 01:53] broxio commented on #290
It's happen to me on pixel 6  with about 20K picture in DCIM folder.

[2022-11-18 06:20] pencilcheck commented on #276
I noticed sometimes your cable has to be higher quality, otherwise the device wouldn't be recognized as well.

[2022-11-18 14:28] Al2832 opened #293 "issues with connectivity"
Ever since MacOS Ventura was released the Open MTP app has been virtually unusable and has made my life really tough.

[2022-11-20 21:18] RadioErewan opened #294 "App forcibly upgraded and now not working"
Macos Mojave. Everything was working perfectly until I opened the app today. During mtp session app informed me about update, no option to cancel. After restart, there is no main window on any screen. Only the main menu is visible. Updated to version 3.2. I have no idea what was previous/working version.

[2022-11-22 14:49] a-tokarev commented on #294
Same here on macOS Catalina. The app crashed during an auto-update attempt. I then re-downloaded the new version .dmg (3.2.0) from Github, now it can't be launched ("OpenMTP quit unexpectedly."). Reopening the app doesn't help.

[2022-11-22 20:09] ganeshrvel commented on #294
I'm aware of this issue. Trying to find a fix for this issue

[2022-11-30 19:29] Grimwoooo opened #295 "Throbber or "working" indicator, please?"
Too often I click on DCIM, and then think the app's crashed or frozen, because it doesn't respond in any way. Then I try clicking again, or elsewhere, and 20 seconds later the list populates – and then the next clicks register so it takes me away and I have to do it again.

I get it, its a huge directory (I keep photos on my phone as long as possible), and takes awhile to scan/index/whatever. NO i